footer.section.footer-classic.bg-gray-900.novi-bg.novi-bg-img(style='background-image: url(images/bg-price-1920x1128.png)')
	.container
		.row.row-30.justify-content-between
			.col-xl-3.col-lg-3.col-sm-6
				p.footer-classic-title Our Address
				ul.footer-classic-list
					li 2200 Clarendon Blvd., Suite 1400A Arlington, VA 22201, USA
			.col-xl-2.col-lg-2.col-sm-6
				p.footer-classic-title Socials
				ul.footer-classic-list
					li: a(href='#') Facebook
					li: a(href='#') Instagram
					li: a(href='#') YouTube
			.col-xl-2.col-lg-2.col-sm-6
				p.footer-classic-title phone
				ul.footer-classic-list
					li: a(href='tel:#') 1-800-901-234
			.col-xl-2.col-lg-3.col-sm-6
				p.footer-classic-title Email
				ul.footer-classic-list
					li: a(href='mailto:#') info@demolink.org
		.footer-classic-logo-wrap
			+logo
		+rights
