footer.footer-minimal.section
  .container
    h5 Address: 6036 Richmond hwy., Alexandria, VA 2230
      br.d-none.d-lg-block
      =" Let's talk"
      span &nbsp;
      a.d-inline-block(href='callto:#') (703) 329-06-32

    ul.list-inline-sm.footer-minimal__list
      li: a.icon.icon-circle.icon-white.icon-lg.fa-facebook(href='#')
      li: a.icon.icon-circle.icon-white.icon-lg.fa-twitter(href='#')
      li: a.icon.icon-circle.icon-white.icon-lg.fa-instagram(href='#')
      li: a.icon.icon-circle.icon-white.icon-lg.fa-youtube(href='#')

    p.rights
      span ©
      span &nbsp;
      span.copyright-year
      span &nbsp;
      span All rights reserved by Ironmass Fitness.
      a(href='privacy-policy.html') Terms of Use and Privacy Policy
      | .