section.section
  // Owl Carousel
  // RD Flickr
  .owl-carousel.owl-flex.flickr(data-autoplay='true',data-tags='tm62271' data-flickr-id='141855984@N03' data-items='2', data-sm-items='3', data-md-items='4', data-lg-items='5', data-xl-items='6', data-xxl-items='8' data-loop='false', data-mouse-drag="true")
    div(data-type='flickr-item')
      a.thumb-overlay(href='#', target="_blank" data-link='href')
        img(data-image_z='src', data-title='alt', src='images/_blank.png', alt='')
        .thumb-centered__caption
          span.icon.icon-lg.fa-flickr
    div(data-type='flickr-item')
      a.thumb-overlay(href='#', target="_blank" data-link='href')
        img(data-image_z='src', data-title='alt', src='images/_blank.png', alt='')
        .thumb-centered__caption
          span.icon.icon-lg.fa-flickr
    div(data-type='flickr-item')
      a.thumb-overlay(href='#', target="_blank" data-link='href')
        img(data-image_z='src', data-title='alt', src='images/_blank.png', alt='')
        .thumb-centered__caption
          span.icon.icon-lg.fa-flickr
    div(data-type='flickr-item')
      a.thumb-overlay(href='#', target="_blank" data-link='href')
        img(data-image_z='src', data-title='alt', src='images/_blank.png', alt='')
        .thumb-centered__caption
          span.icon.icon-lg.fa-flickr
    div(data-type='flickr-item')
      a.thumb-overlay(href='#', target="_blank" data-link='href')
        img(data-image_z='src', data-title='alt', src='images/_blank.png', alt='')
        .thumb-centered__caption
          span.icon.icon-lg.fa-flickr
    div(data-type='flickr-item')
      a.thumb-overlay(href='#', target="_blank" data-link='href')
        img(data-image_z='src', data-title='alt', src='images/_blank.png', alt='')
        .thumb-centered__caption
          span.icon.icon-lg.fa-flickr
    div(data-type='flickr-item')
      a.thumb-overlay(href='#', target="_blank" data-link='href')
        img(data-image_z='src', data-title='alt', src='images/_blank.png', alt='')
        .thumb-centered__caption
          span.icon.icon-lg.fa-flickr
    div(data-type='flickr-item')
      a.thumb-overlay(href='#', target="_blank" data-link='href')
        img(data-image_z='src', data-title='alt', src='images/_blank.png', alt='')
        .thumb-centered__caption
          span.icon.icon-lg.fa-flickr
