-
  var
  brandName = 'Lawyer',
  logoDefault = 'logo-191x51',
  logoInverse = 'logo-inverse-191x51',
  singlePractice = 'single-practice.html',
  appointmentLink = 'book-an-appointment.html',
  getTemplateLink = '//www.templatemonster.com/website-templates/monstroid2.html',
  postLink = 'standard-post.html',
  postSlider = 'gallery-post.html',
  postVideo = 'video-post.html',
  blogPostLink = 'link-post.html',
  postQuote = 'quote-post.html',
  postAudio = 'audio-post.html',
  postImage = 'image-post.html',
  videoSrc = '//www.youtube.com/embed/ccuQoF0vKYU',
  teamMember = 'team-member-profile.html',
  menu = [
    {
      title: 'Home',
      subtitle: 'Text',
      link: 'index.html',
      dropdown: [
        {
          title: 'Headers',
          link: '#',
          dropdown: [
            {
              title: 'Header Default',
              link: 'header-default.html'
            },
            {
              title: 'Header Modern',
              link: 'header-modern.html'
            },
            {
              title: 'Header Minimal',
              link: 'header-minimal.html'
            }
          ]
        },
        {
          title: 'Footers',
          link: '#',
          dropdown: [
            {
              title: 'Footer Corporate',
              link: 'footer-corporate.html'
            },
            {
              title: 'Footer Corporate Light',
              link: 'footer-corporate-light.html'
            },
            {
              title: 'Footer Minimal',
              link: 'footer-minimal.html'
            }
          ]
        } 
      ]
    },
    {
      title: 'Pages', 
      subtitle: 'Text',
      link: '#',
      megamenu: [
        [
          {
            title: 'General',
            list: [
              {
                title: 'About Us',
                link: 'about-us.html'
              },
              {
                title: 'Our Team',
                link: 'our-team.html'
              },
              {
                title: 'Team Member Profile',
                link: teamMember
              }, 
              {
                title: 'Single practice',
                link: 'single-practice.html'
              },
              {
                title: 'Typography',
                link: 'typography.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Special Pages',
            list: [
              {
                title: 'Book an Appointment',
                link: appointmentLink
              },
              {
                title: '404 Page',
                link: '404-page.html'
              },
              {
                title: 'Search Results',
                link: 'search-results.html'
              },
              {
                title: 'Coming Soon',
                link: 'coming-soon.html'
              },
              {
                title: 'Privacy Policy',
                link: 'privacy-policy.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Elements #1',
            list: [
              {
                title: 'Testimonials',
                link: 'testimonials.html'
              },
              {
                title: 'Countdown',
                link: 'countdown.html'
              },
              {
                title: 'Animated Counter',
                link: 'animated-counter.html'
              },
              {
                title: 'Number Counter',
                link: 'number-counter.html'
              },
              {
                title: 'Circles Counter',
                link: 'circles-counter.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Elements #2',
            list: [
              {
                title: 'Buttons',
                link: 'buttons.html'
              },
              {
                title: 'Pricing Table',
                link: 'pricing-table.html'
              },
              {
                title: 'Person',
                link: 'person.html'
              },
              {
                title: 'Accordion',
                link: 'accordion.html'
              },
              {
                title: 'Tabs',
                link: 'tabs.html'
              }
            ]
          }
        ]
      ]
    },
    {
      title: 'About Us',
      subtitle: 'Text',
      link: 'about-us.html'
    },
    {
      title: 'Practices',
      subtitle: 'Text',
      link: 'practices.html',
      dropdown: [
        {
          title: 'Single Practice',
          link: 'single-practice.html'
        }
      ]
    },
    {
      title: 'Won Cases',
      subtitle: 'Text',
      link: 'won-cases.html',
      dropdown: [
        {
          title: 'Single Case',
          link: 'single-case.html'
        }
      ]
    },
    {
      title: 'News',
      subtitle: 'Text',
      link: '#',
      dropdown: [
        {
          title: 'Post Formats',
          link: '#',
          dropdown: [
            {
              title: 'Standard post',
              link: postLink
            },
            {
              title: 'Nonstandard post with sidebar',
              link: 'nonstandard-post-with-sidebar.html'
            },
            {
              title: 'Nonstandard post',
              link: 'nonstandard-post.html'
            },

            {
              title: 'Gallery post',
              link: 'gallery-post.html'
            },
            {
              title: 'Image post',
              link: 'image-post.html'
            },
            {
              title: 'Link post',
              link: 'link-post.html'
            },
            {
              title: 'Quote post',
              link: 'quote-post.html'
            },
            {
              title: 'Video post',
              link: 'video-post.html'
            },
            {
              title: 'Audio post',
              link: 'audio-post.html'
            }
          ]
        },
        {
          title: 'Blog Layouts',
          link: '#',
          dropdown: [
            {
              title: 'Classic Blog',
              link: 'classic-blog.html'
            },
            {
              title: 'Grid Blog',
              link: 'grid-blog.html'
            },
            {
              title: 'Masonry Blog',
              link: 'masonry-blog.html'
            },
            {
              title: 'Justify Blog',
              link: 'justify-blog.html'
            }
          ]
        },
        {
          title: 'Sidebar',
          link: '#',
          dropdown: [
            {
              title: 'Left Sidebar',
              link: 'left-sidebar.html'
            },
            {
              title: 'Right Sidebar',
              link: 'right-sidebar.html'
            },
            {
              title: 'No Sidebar',
              link: 'no-sidebar.html'
            }
          ]
        }
      ]
    },
    {
      title: 'Contacts',
      subtitle: 'Text',
      link: 'contacts.html'
    }
  ]
