// Section aside
section.section.novi-bg.bg-primary-light.object-wrap
	.section-xxl.section-xxl_bigger
		.container-fluid.text-center
			.row.row-fix
				.col-lg-6
					.block-lg.block-centered
						h2 Milk from
							br
							| local farmers
						p Farmey’s customers love the taste and versatility of our dairy foods. Whether it’s milk in your tea, cheese in your sandwich, on your pizza or in a pie, yogurt or even butter, our dairy tastes great.

						p We are committed to the highest standards of organic practices, meaning no GMOs, no antibiotics, and no pesticides.
						a.button-link(href='products.html') learn more
	.novi-bg-img.object-wrap__body.object-wrap__body-sizing-1.object-wrap__body-md-right.bg-image(style='background-image: url(images/index-04-960x900.jpg)')
='\n'
