//- Thumbnail flickr
mixin flickr-item
  .flickr-item(data-instafeed-item)
    a.thumb-minimal.thumb-minimal_square(href='#', data-lightgallery='item' data-images-standard_resolution-url='href')
      img(src='images/_blank.png', data-images-standard_resolution-url='src' width='320', height='320', alt='')
      .thumb-minimal__overlay 