/** @section Offsets */

// Element offset
* + p {
	margin-top: 16px;
}

p + * {
	margin-top: 22px;
}

// Headings

// Tags + Tags
p + p {
	margin-top: 10px;
}

h2 + h6,
h3 + h6 {
	margin-top: 23px;
}

// Tags + Classes

// Classes
* + .list-md {
	margin-top: 20px;
}

* + .list-ordered {
	margin-top: 15px;
}

* + .list-linked {
	margin-top: 23px;
}

* + .quote-centered {
	margin-top: 25px;
}

* + .group-lg {
	margin-top: 35px;
}

* + .figure {
	margin-top: 30px;
}

* + [class*=list-inline-] {
	margin-top: 38px;
}

* + .rd-mailform {
	margin-top: 38px;
}

* + .blurb-minimal {
	margin-top: 40px;
}

// Classes + Tags
h5 + p,
.heading-5 + p {
	margin-top: 18px;
}

h6 + p,
.heading-6 + p {
	margin-top: 10px;
}

h1 + h3,
.heading-1 + h3,
h1 + .heading-3,
.heading-1 + .heading-3 {
	margin-top: 20px;
}

h2 + h5,
.heading-2 + h5,
h2 + .heading-5,
.heading-2 + .heading-5 {
	margin-top: 15px;
}

h3 + .owl-carousel,
.heading-3 + .owl-carousel {
	margin-top: 35px;
}

.blurb-minimal + .blurb-minimal {
	margin-top: 35px;
}

h3 + p { margin-top: 22px * $xs-multiplier }
.vide + h3 { margin-top: 80px * $xs-multiplier }
* + .big { margin-top: 14px * $xs-multiplier }

// Media offsets
@include media-breakpoint-up(lg) {
	* + p {
		margin-top: 28px;
	}
	* + .quote-centered {
		margin-top: 50px;
	}
	* + .figure {
		margin-top: 40px;
	}
	* + .group-lg {
		margin-top: 50px;
	}
	h3 + p { margin-top: 22px * $lg-multiplier }
	.vide + h3 { margin-top: 80px * $lg-multiplier }
	* + .big { margin-top: 14px * $lg-multiplier }
}

@include media-breakpoint-up(xl) {
	p + p {
		margin-top: 16px;
	}
}

@include media-breakpoint-up( xxl ) {
	h3 + p { margin-top: 22px }
	.vide + h3 { margin-top: 69px }
	* + .big { margin-top: 14px }
}

// Range spacing
// -------------------------------
html {
	.row-50 {
		@include grid-offset(50px);
	}

	.row-60 {
		@include grid-offset(50px);
	}

	.row-70 {
		@include grid-offset(50px);
	}

	@include media-breakpoint-up(md) {
		.row-60 {
			@include grid-offset(60px);
		}
		.row-70 {
			@include grid-offset(70px);
		}
	}

	@media (min-width: map_get($grid-breakpoints, xl)) and (min-height: $screen-height-desktop) {
		.row-70 {
			@include grid-offset(70px);
		}
	}

	@include media-breakpoint-up(xxl) {
		.row-xl-50 {
			@include grid-offset(50px);
		}
	}
}


// custom offset for row
//
html.lt-ie-10 * + .row,
* + .row {
	margin-top: 30px;
}

@include media-breakpoint-up(md) {
	html.lt-ie-10 * + .row,
	* + .row {
		margin-top: 35px;
	}
}

@include media-breakpoint-up( xl ) {
	html.lt-ie-10 * + .row,
	* + .row {
		margin-top: 50px;
	}
}
