section.rd-parallax
  .rd-parallax-layer(data-speed='0.4', data-type='media', data-url='images/parallax-1.jpg')
  .rd-parallax-layer(data-speed='0', data-type='html')
    .section-lg.text-center.bg-accent-2
      .container
        .row.justify-content-sm-center.row-60
          .col-md-4.col-xl-3
            // Circle Progress Bar
            .progress-bar-circle(data-value="0.45", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
              span
            .progress-bar-circle-title Pixel perfect typography
          .col-md-4.col-xl-3
            // Circle Progress Bar
            .progress-bar-circle(data-value="0.60", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
              span
            .progress-bar-circle-title Power page builder
          .col-md-4.col-xl-3
            // Circle Progress Bar
            .progress-bar-circle(data-value="0.80", data-gradient="#2ed3ae, #2ed3ae", data-empty-fill="#2ed3ae", data-size="141", data-thickness="5")
              span
            .progress-bar-circle-title Made for community


='\n'