// Categories
section.section-sm
  h5 Categories
  ul.list-linked
    li: a(href='#') Construction Law & Litigation
    li: a(href='#') Family Law
    li: a(href='#') Intellectual Property
    li: a(href='#') Labor & Employment Laws
    li: a(href='#') Liability Litigation
    li: a(href='#') Maritime Law
    li: a(href='#') Medical Malpractice
    li: a(href='#') Mergers & Acquisitions
    li: a(href='#') Tips for Business Litigation
    li: a(href='#') Uncategorized
    li: a(href='#') USERRA
='\n'

// Posts
section.section-sm
  h5 Latest Posts
  ul.list-sm
    li
      // Post inline
      article.post-inline
        p.post-inline__link: a(href=postLink) How Couples Decide To Divorce
        p.post-inline__time December 3, 2016
    li
      // Post inline
      article.post-inline
        p.post-inline__link: a(href=postLink) Financial Assistance Other Than Child Support
        p.post-inline__time December 3, 2016
    li
      // Post inline
      article.post-inline
        p.post-inline__link: a(href=postLink) What the federal legal consequences of Florida’s shooting wlll be?
        p.post-inline__time December 3, 2016
='\n'

// Tags
section.section-sm
  h5 Tags
  ul.list-tags
    li: a(href='#') Court
    li: a(href='#') Judge
    li: a(href='#') Law
    li: a(href='#') Legal
    li: a(href='#') Litigation
    li: a(href='#') Verdict
='\n'

// Archives
section.section-sm
  h5 Archives 
  ul.list-xxs.list-default
    li: a(href='#') December 2016
    li: a(href='#') November 2016
    li: a(href='#') October 2016
='\n'