// RD Navbar Top Panel
.rd-navbar-top-panel.rd-navbar-search-wrap
	.rd-navbar-top-panel__main
		.rd-navbar-top-panel__toggle.rd-navbar-fixed__element-1.rd-navbar-static--hidden(data-rd-navbar-toggle='.rd-navbar-top-panel__main'): span
		.rd-navbar-top-panel__content
			.rd-navbar-top-panel__left
				ul.list-inline.list-inline-xxs
					li
						.unit.unit-spacing-xs.align-items-center
							.unit-left
								.icon.icon-sm.novi-icon.fa-map-marker
							.unit-body
								a(href='#') 27 Rainbow Rd, Los Angeles, USA
					li
						.unit.unit-spacing-xs.align-items-center
							.unit-left
								.icon.icon-sm.novi-icon.fa-phone
							.unit-body
								a(href='tel:+14805550103') +1 (480) 555-0103
			.rd-navbar-top-panel__right: ul.rd-navbar-items-list
				li: ul.list-inline-xxs
					li: a.icon.novi-icon.icon-xxs.icon-primary.fa.fa-facebook(href='#')
					li: a.icon.novi-icon.icon-xxs.icon-primary.fa.fa-youtube-play(href='#')
					li: a.icon.novi-icon.icon-xxs.icon-primary.fa.fa-twitter(href='#')
					li: a.icon.novi-icon.icon-xxs.icon-primary.fa.fa-instagram(href='#')
