-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800",
		logo = {
			default: { normal: 'logo-default-169x42', retina: 'logo-default-338x84' },
			inverse: { normal: 'logo-inverse-169x42', retina: 'logo-inverse-338x84' },
			name: 'Spectrum'
		},
		links = {
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#C4956A'
		},
		menu = [
			{
				title: 'Home',
				category: 'home',
				link: '#home'
			},
			{
				title: 'About',
				link: '#about'
			},
			{
				title: 'Team',
				link: '#team'
			},
			{
				title: 'Portfolio',
				link: '#portfolio'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		];
