//
// Layouts
// --------------------------------------------------

// Footer corporate,
.footer-corporate {
  padding: 60px 0;
  background-color: $gray-lighter;
  p + .row { margin-top: 25px; }
  .divider { margin: 30px 0; }
  p + p { margin-top: 25px; }
  p + p:last-child { margin-top: 35px; }
}

@include media-breakpoint-up(md) {
  .footer-corporate { 
    padding: 80px 0;
    .divider { margin: 45px 0 40px; }
  }
  
}

@include media-breakpoint-up(lg) {
  .footer-corporate {    
    padding: 90px 0;
    .divider { margin: 60px 0 40px; }
  }
}

// Footer minimal
.footer-minimal {
  padding: 60px 0;
  text-align: center;
  @include small;

  * + .footer-minimal__list {
    margin-top: 40px;
  }
  .footer-minimal__list + * {
    margin-top: 20px;
  }
}

[class*='section'].bg-default + .footer-minimal {
  padding-top: 0;
}

@include media-breakpoint-up(md) {
  .footer-minimal {
    padding: 80px 0;
  }
}

@include media-breakpoint-up(xl) {
  .footer-minimal {
    * + .footer-minimal__list,
    .footer-minimal__list + * {
      margin-top: 60px;
    }
  }
}

@media (min-width: $screen-lg-min) and (min-height: $screen-height-desktop) {
  .footer-minimal {
    padding: 130px 0;
  }
}

// Footer modern
.footer-modern {
  background: $white;
  padding: 1px 0;

  .footer-modern__layer {
    > * + * {
      margin-top: 25px;
    }
  }
}

[class*='section'].bg-default + .footer-modern {
  border-top: 1px solid $gray-1;
}

.footer-modern__layer {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include small;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;

  > * {
    padding: 0 15px;
  }

  &_top {
    padding: 40px 0;
  }

  &_bottom {
    padding: 20px 0;
  }
}

.footer-modern__layer + .footer-modern__layer {
  border-top: 1px solid $gray-1;
}

@include media-breakpoint-up(xl) {
  .footer-modern__layer {
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }

  .footer-modern {
    .footer-modern__layer {
      > * + * {
        margin-top: 0;
      }
    }
  }
}