footer.section.footer.bg-secondary
	.container
		.row.row-50.align-items-end
			.col-lg-6.offset-xl-1
				h2 Let’s build something amazing together
				h4.fw-normal Make the garden of your dream with us!
				h4.fw-normal
					| Call us today:&nbsp;&nbsp;
					a.fw-bold( href='tel:#' ) +1 (256) 10 87 000
			.col-lg-3.col-sm-6
				.small Address
				.small
					a( href='#' ) 178 West 27th Street, Suite 527 <br> New York NY 10012
				.small
					a( href='mailto:#' ) mail@demolink.org
			.col-xl-2.col-lg-3.col-sm-6
				ul.footer-link-list.small
					li.footer-link-item
						a.footer-link.fw-light( href='#' ) Dribbble
					li.footer-link-item
						a.footer-link.fw-light( href='#' ) Instagram
					li.footer-link-item
						a.footer-link.fw-light( href='#' ) Twitter
					li.footer-link-item
						a.footer-link.fw-light( href='#' ) Behance
		.row
			.col-auto.offset-xl-1
				+rights.small
