include ../components/progress-circle

section.section.novi-bg.novi-bg-img.section-xl.bg-image.bg-image-4.text-center.bg-accent
	.container
		.row.justify-content-sm-center.row-60
			.col-md-4.col-xl-3
				+progress-circle({
					title: 'Clean Interface',
					value: 45
				})
			.col-md-4.col-xl-3
				+progress-circle({
					title: 'Responsive Design',
					value: 60
				})
			.col-md-4.col-xl-3
				+progress-circle({
					title: 'Easy Customization',
					value: 80
				})
='\n'
