+parallax({
	img:   "home-08-1920x800"
}).text-center.context-dark
	.container.section-xxl
		h2 Like What We Offer?
		p Take a look at the full list of our services and solutions our team offers.
		a(href='#').button.button-primary Learn More
='\n'
