+parallax({
	img: "parallax-06.jpg"
}).text-center.context-dark
	.container.section-xl
		.row.justify-content-sm-center
			.col-md-10.col-xl-8
				h3 Haven’t Found What You Like? #[br] Browse Our Other Demos.
				p Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business, Education and Design.
				a(href='#').button.button.button-black View now!
='\n'
