footer.footer-minimal
	.container
		ul.list-sm.list-gray-2
			li
				p
					span.icon.icon-xs.icon-primary.icon-left.linear-icon-map-marker
					a(href='#') 6036 Richmond hwy., Alexandria, VA 22303
			li
				p
					span.icon.icon-xs.icon-primary.icon-left.linear-icon-telephone
					span Let's talk
					="\t"
					a(href='callto:#') (703) 329-06-32 
			li
				p
					span.icon.icon-xs.icon-primary.icon-left.linear-icon-clock3
					="\t"
					span We are open:  Mn-Fr: 10 am-8 pm

		ul.list-inline.list-inline-lg  
			li: a.icon.icon-sm.icon-secondary.icon-secondary-divider.fa.fa-facebook(href='#')
			li: a.icon.icon-sm.icon-secondary.icon-secondary-divider.fa.fa-twitter(href='#')
			li: a.icon.icon-sm.icon-secondary.icon-secondary-divider.fa.fa-google-plus(href='#')

			
			
		p.rights
			span!=brandName
			span &nbsp;
			span(class="copyright-year")
			| .

