//Start Improving Your Business Today!
section.bg-gray-dark.text-center.rd-parallax-gradient
	+parallax({
    "img": "bg-image-02-1920x896",
    "addClass": 'rd-parallax-light rd-parallax-overlay'
  })
		.section-md
			.container
				h2.heading-divider Start Improving Your Business Today!
				a.button.button-gradient-intro-outline(href='#') Read More
					span.button-gradient-intro__overlay
='\n'