include ../elements/_ui-rd-parallax
section.bg-gray-dark.text-center
  +parallax({
    "img": "parallax-01",
    "addClass": 'rd-parallax-light'
  })
    .section-xl
      .container
        h2 Like What We Offer?
        p Start with this demo now or check out the others to choose what you need.
        a(href='#').button.button-primary View now!
='\n'