// Testimonials
section.section-md.bg-default.text-center
  .container
    h6 Read the Reviews, Written by
    h2 Our Hotel Guests
    .row.row-50
      .col-md-6.col-lg-4
        // Quote review
        article.quote-review
          +jpg('guest-1-96x96', 'quote-review__image')
          h4 Superb!

          .quote-review__body
            p While staying in Indianapolis on my business affairs I always stay at this place. The price/quality ratio here is just outstanding, allowing me to save more money for other spends while visiting… My rating is 5 out of 5!
            p.cite Martin van Buuren

      .col-md-6.col-lg-4
        // Quote review
        article.quote-review
          +jpg('guest-2-96x96', 'quote-review__image')
          h4 Incredible!

          .quote-review__body
            p Choosing a hotel is always challenging, especially if you’re on a hectic schedule and are visiting the place for the first time. That’s why I was so happy that my guess with this hotel was definitely a lucky one.
            p.cite Mary Johnson

      .col-md-6.col-lg-4
        // Quote review
        article.quote-review
          +jpg('guest-3-96x96', 'quote-review__image')
          h4 Exceptional!

          .quote-review__body
            p I’ve been visiting Indianapolis last year while touring across the Midwest with my family. The Family room is just great, the hotel’s restaurant (and bar) are nice and overall, even the price was very reasonable…
            p.cite Theodore Roosevelt
    a.button.button-primary-outline(href='#') See all testimonials
='\n'