// Testimonials
section.section-md.bg-default.text-center
  .container
    h6 WHAT OUR CLIENTS SAY
    h2 Testimonials
    .row.row-50
      .col-md-6.col-lg-4
        // Quote review
        article.quote-review
          +jpg('guest-1-96x96', 'quote-review__image')
          h4 Superb!

          .quote-review__body
            p Your property managers have been active in their response to repairs and always patient with our frustrations. You have always found us wonderful tenants. Thank you for the amazing customer service!
            p.cite Mark Simmons

      .col-md-6.col-lg-4
        // Quote review
        article.quote-review
          +jpg('guest-2-96x96', 'quote-review__image')
          h4 Incredible!

          .quote-review__body
            p I’ve recently rented an apartment through your site, and have been looked after by James Thompson. He provided me with utmost support on every property issue. I will surely recommend your services to my friends!
            p.cite Jane Wilson

      .col-md-6.col-lg-4
        // Quote review
        article.quote-review
          +jpg('guest-3-96x96', 'quote-review__image')
          h4 Exceptional!

          .quote-review__body
            p I have always found your team to be extremely prompt and professional with all dealings I have had with them. You always keep me updated on the progress of my apartment’s rental. Thank you!
            p.cite Peter Smith
    a.button.button-primary-outline(href='#') See all testimonials
='\n'