<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Projects</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300italic%7CMontserrat:400,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div id="page-loader">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="115px" data-lg-stick-up-offset="35px">
            <div class="rd-navbar-top-panel">
              <div class="rd-navbar-top-panel__main">
                <div class="rd-navbar-top-panel__toggle rd-navbar-fixed__element-1 rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-top-panel__main"><span></span></div>
                <div class="rd-navbar-top-panel__content">
                  <div class="rd-navbar-top-panel__left">
                    <ul class="rd-navbar-items-list">
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm icon-primary linear-icon-map-marker"></span></div>
                          <div class="unit__body">
                            <p><a href="#">Address: 41 Manor Road, Solihull, West Midlands, B91 2BL</a></p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm icon-primary linear-icon-telephone"></span></div>
                          <div class="unit__body">
                            <ul class="list-semicolon">
                              <li><a href="tel:01216473731">0121 647 3731</a></li>                      
                            </ul>
                          </div>
                          <div class="unit__left">&ThickSpace;&ThickSpace;<span class="icon icon-sm icon-primary linear-icon-telephone"></span></div>
                          <div class="unit__body">
                            <ul class="list-semicolon">
                              <li><a href="tel:01216473731">0121 647 3731</a></li>                                                
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="rd-navbar-top-panel__right"> 
                    <ul class="list-inline-xxs">
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-envelope" href="mailto:sales@industrialroofingsolutions.co.uk"></a></li>
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-whatsapp" href="https://wa.me/+447973353976" target="_blank"></a></li>
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-phone" href="tel:07973353976"></a></li>                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-inner rd-navbar-search-wrap">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel rd-navbar-search-lg_collapsable">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index"><img src="images/logo.png" alt="" width="50" height="50"/></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap rd-navbar-search_not-collapsable">
                <!-- RD Navbar Nav-->
                <div class="rd-navbar__element rd-navbar-search_collapsable">
                
                </div>
                <!-- RD Search-->
                <div class="rd-navbar-search rd-navbar-search_toggled rd-navbar-search_not-collapsable">
                  <form class="rd-search" action="search-results.html" method="GET" data-search-live="rd-search-results-live">
                    <div class="form-wrap">
                      <input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                      <label class="form-label" for="rd-navbar-search-form-input">Enter keyword</label>
                      <div class="rd-search-results-live" id="rd-search-results-live"></div>
                    </div>
                    <button class="rd-search__submit" type="submit"></button>
                  </form>
                  <div class="rd-navbar-fixed--hidden">
                    <button class="rd-navbar-search__toggle" data-custom-toggle=".rd-navbar-search-wrap" data-custom-toggle-disable-on-blur="true"></button>
                  </div>
                </div>
                <div class="rd-navbar-search_collapsable">
                  <ul class="rd-navbar-nav">
                    <li><a href="index">Home</a>                      
                    </li>
                    <li><a href="about">About</a>
                    </li>
                    <li><a href="services">Services</a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="cleaning">Cleaning</a></li>                        
                        <li><a href="domestic">Domestic</a></li>                        
                        <li><a href="products">Products</a></li>
                        <li><a href="surveys">Surveys</a></li>
                      </ul>
                    </li>
                    <li><a href="projects">Projects</a></li>                    
                    <li><a href="contact">Contact</a></li>
                  </ul>
                  <script>
                    // Get the current document name (URL path)
                    let currentPath = window.location.pathname.split('/').pop();

                    // Fallback in case it's empty (e.g., root)
                    if (currentPath === "") {
                        currentPath = "index.html";
                    }

                    // Get all list items in the menu
                    const menuItems = document.querySelectorAll('.rd-navbar-nav > li');

                    // Loop through each list item and check if the href matches the current path
                    menuItems.forEach(li => {
                        const anchor = li.querySelector('a');  // Find the anchor tag inside <li>
                        if (anchor && anchor.getAttribute('href') === currentPath) {
                            // Add 'active' class to the <li> element
                            li.classList.add('active');
                        }
                    });
                </script>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      

      <section class="section-md bg-default">
        <div class="container">
          <div class="row justify-content-md-center row-30 row-md-50">
            <div class="col-md-11 col-lg-10 col-xl-6">
              <h4 class="heading-decorated">PRODUCTS</h6>
              <p>Industrial roofing products encompass a variety of materials and systems designed to protect large commercial and industrial buildings.</p>
              <p>When selecting industrial roofing products, factors such as climate, building type, budget, and specific performance needs should be considered.</p>
              <p>INDUSTRIAL ROOFING SOLUTIONS have successfully implemented and used some of the industries leading products and services, backed up by our high quality installation services we can provide costs to supply and install the following products along with many more:</p>
              <ul>
                <li>Kingspan</li>
                <li>Corus </li>
                <li>HD Sharmans </li>
                <li>Kemper Systems</li>
                <li>Filon</li>
                <li>Tata</li>
                <li>Joriside</li>
                <li>Knauf</li>
                <li>Euroclad</li>
                <li>Ash & Lacy</li>
                <li>Brett Martin</li>
                <li>Fixfast</li>
                <li>Eternit</li>
                <li>Steadmans</li>
                <li>Corrivo Building Products</li>
              </ul>  
                
            </div>
            <div class="col-md-11 col-lg-10 col-xl-6"><img src="images/projects/brindley.jpg" alt="" width="652" height="491"/>
            </div>
          </div>
        </div>
      </section>

      <section class="section-md bg-gray-lighter">
        <div class="container">
          <div class="row justify-content-md-center row-30 row-md-50">
            <div class="col-md-11 col-lg-10 col-xl-6">
              <h4 class="heading-decorated">Training</h4>
              <p>We are also proud to be skilled and trained by a number of bodies and organisations some of these include:</p>
              <li>CSCS</li>
              <li>IPAF</li>
              <li>PASMA</li>
              <li>NPOURS</li>
              <li>NVQ</li>
              <li>UKATA</li>
              <li>St John Ambulance</li>
              <li>HD Sharmans</li>
              <li>Kemper Systems</li>
            </div>
            <div class="col-md-11 col-lg-10 col-xl-6"><img src="images/EmptyClassroom.jpg" alt="" width="652" height="491"/>
            </div>
          </div>
        </div>
      </section>

      <!-- Call to Action-->
      <section class="section-md bg-accent text-center">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-11 col-lg-9 col-xl-8">
              <h4 class="heading-decorated">If you can envision it, then we can build it tell us more about your project</h4><a class="button button-primary" href="contact">Contact Us</a>
            </div>
          </div>
        </div>
      </section>

<!-- Page Footer -->
<section class="pre-footer-corporate bg-gray-dark">
  <div class="container">
    <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
      <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3"><a class="brand" href="index"><img src="images/logo.png" alt="" width="50" height="50"/></a>
      
      </div>
      <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
        <h6>Navigation</h6>
        <ul class="list-xxs list-primary">
          <li><a href="index">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="projects">Projects</a></li>
          <li><a href="contact">Contacts</a></li>
        </ul>
      </div>
      
      <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
        <h6>Contacts</h6>
        <ul class="list-xs">
          <li>
            <dl class="list-terms-minimal">
              <dt>Address</dt>
              <dd>41 Manor Road, Solihull, West Midlands, B91 2BL</dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-minimal">
              <dt>Phones</dt>
              <dd>
                <ul class="list-semicolon">
                  <li><a href="tel:01216473731">0121 647 3731</a></li>                      
                  <li><a href="tel:01216473731">0121 647 3731</a></li>                                   
                </ul>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-minimal">
              <dt>WhatsApp</dt>
              <dd>
                <ul class="list-semicolon">
                  <li><a class="icon icon-xxs icon-gray-darker fa fa-whatsapp" href="https://wa.me/+447973353976" target="_blank"></a></li>
                </ul>
              </dd>
            </dl>
          </li>                
          <li>
            <dl class="list-terms-minimal">
              <dt>Email</dt>
              <dd><a class="link-primary" href="mailto:sales@industrialroofingsolutions.co.uk">sales@industrialroofingsolutions.co.uk</a></dd>
            </dl>
          </li>                
        </ul>
      </div>
    </div>
  </div>
</section>      

<footer class="footer-corporate bg-gray-darker">
  <div class="container">
    <div class="footer-corporate__inner">
      <p class="rights"><span>Industrial Roofing Solutions</span><span>&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved</p>
    </div>
  </div>
</footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>