
p.first-letter
  | This newly famous jewelry master Mark Armstrong Peddigrew is also an avid traveller. Born in the land of most spectacular North America’s landscapes – namely city of St John, Newfoundland in Canada – he nurtured a fancy for everything antique all the way back from his childhood. The one he spent in that old-fashioned, europe-esque looking city. So no wonder, that after few years of globetrotting and studying in such a multicultural city as London, now Mark calls NYC home. The true melting pot of cultures and styles. And that is a lucky fact for all women across the globe, because exactly that was the city where he began to follow the fashion and started working in jewelry industry.

+jpg('about-1-886x668')

p In his own words about his latest jewelry collection called “Cartography”, Mark said: “I guess the story of Cartography owes to my nomad biography and centers around me just being me; the traveling was in my genes and destiny right off my christening name choice, made by parents: Mark Armstrong Peddigrew — initials of which spell MAP. So traveling and cartography (study and creation of maps) felt as something very much related to myself. I never set out to ‘be something’ — I’ve worked as an actor, bartender, waiter, researcher, music supervisor, personal trainer. I have to admit that Cartography is a total accident, a surprise business built on happenstance.”

// Quote default
.quote-default.quote-default__border-left
  .quote-default__text
    p.q FASHION IS NOT NECESSARILY ABOUT LABELS. IT’S NOT ABOUT BRANDS. IT’S ABOUT SOMETHING ELSE THAT COMES FROM WITHIN YOU.

  p.quote-default__cite Adam Smith

p Through a turbulent series of life changing events, at some point I’ve made a decision to move to New York from London and was introduced to Rufus Wainwright, who took me on tour with him. My second meeting with Mr. Wainwright became a turning point, from which the origins of my Cartography jewelry collection stemmed. All in all, the inspiration for that collection can be traced back to my wanders across various exotic countries, my love of visiting antique-esque and so diverse in their assortment flea markets and my keen eye for collecting most unusual and intriguing visuals together…