section.bg-accent.section-md
  .container
    .row
      .col-md-4
        h3.wow.fadeInUpSmall(data-wow-delay=".2s" data-wow-duration='1.2s') Did you find anything you like? Browse our other demos
      .col-md-8
        p.wow.fadeInUpSmall(data-wow-delay=".5s" data-wow-duration='1.2s')  Monstroid 2 has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art & Photography, Business, Education and Design.
        a(href='#').button.button-gray-light-outline.wow.fadeInUpSmall(data-wow-delay=".9s" data-wow-duration='1.2s') View now!
='\n'