section.text-center
  .row.no-gutters
    .col-lg-6.cat-wrap.bg-accent
      .cat-mod-1
        h3 Live Customizer.
        p WordPress live customizer is a WYSIWYG theme editor allowing to change options in  real time and see the changes taking effect on the fly. This is a must have feature of every modern WordPress theme and sure enough Monstroid#[sup 2] has it on board.
        a(href='#').button.button-gray-light-outline Read more

    .col-lg-6.bg-image.bg-image-3.cat-wrap
      .cat-mod-1
        h3 100% Satisfaction Guaranteed
        p You will be completely happy with our products and services. If no, we are ready to offer 100% money back during 30 days from the purchase date. #[br.visible-inline-lg] No questions asked.
        a(href='#').button.button-primary Read more
='\n'