extends  ../_skeleton

//- Includes

block variables
	- pageName = 'Circles Counter'

block page
	// Page header
	include ../sections/_header-classic
	
	+breadcrumbs
	='\n'

	include ../sections/_section-circle-counters-dark
	
	section.section.novi-bg.novi-bg-img.section-xl.bg-default.text-center
		.container
			.row.justify-content-xs-center.row-60
				.col-xs-6.col-md-4.col-xl-3
					+progress-circle({
						title: 'Reliability',
						value: 45
					})
				.col-xs-6.col-md-4.col-xl-3
					+progress-circle({
						title: 'Experience',
						value: 60
					})
				.col-xs-6.col-md-4.col-xl-3
					+progress-circle({
						title: 'Professionalism',
						value: 80
					})
	
	// Page Footer
	include ../sections/_footer-classic
