extends  ../_skeleton

//- Includes
include ../components/countdown

block variables
	- pageName = 'Coming soon'

block page
	section.section.novi-bg.novi-bg-img.context-dark.text-center.bg-image.bg-image-bottom.fullwidth-page(style='background-image: url(images/background-05.jpg);')
		.section-md
			.container
				.row.row-fix.justify-content-sm-center
					.col-md-10.col-xl-8
						h3 This Site is Coming Soon
						+countdown({ to: '2021-12-31' })
						h5 Sign up to Receive Updates
						p Get both our special offers and badminton tips directly to your inbox!
						form.rd-mailform.rd-mailform-inline-flex.text-center(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
							.form-wrap
								input#contact-name.form-input(type="text" name="name" data-constraints='@Required')
								label.form-label(for="contact-name") Your name
							.form-wrap
								input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
								label.form-label(for="contact-email") Your e-mail
							button(type="submit").button.button-gray-light-outline send
