extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-centered

block variables
	- pageName = 'Typography'

block page
	// Page header
	include ../sections/_header-classic
	
	+breadcrumbs
	='\n'
	
	.section-md.section-divided
		.container
			.row.row-50.row-md-75
				.col-lg-8.section-divided__main
					// Base typography
					section.section.novi-bg.novi-bg-img.section-md
						h5 Typography
						ul.list-md
							li
								h1 H1 Heading
								p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
							li
								h2 H2 Heading
								p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
							
							li
								h3 H3 Heading
								p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
							
							li
								h4 H4 Heading
								p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
							
							li
								h5 H5 Heading
								p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
							
							li
								h6 H6 Heading
								p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
					='\n'
					
					// Unordered list
					section.section.novi-bg.novi-bg-img.section-md
						h5 Unordered list
						ul.list-marked
							li Sed ut perspiciatis unde omnis
							li Iste natus error sit voluptatem
							li Accusantium doloremque laudantium
					='\n'
					
					// Ordered list
					section.section.novi-bg.novi-bg-img.section-md
						h5 Ordered list
						ul.list-ordered
							li Totam rem aperiam
							li Eaque ipsa quae ab illo
							li Inventore veritatis et quasi
					='\n'
					
					// Blockquotes
					section.section.novi-bg.novi-bg-img.section-md
						h5 Blockquote
						+quote-centered({
							text: "If you’re looking to switch up your usual fitness regime, badminton can be a fantastic alternative.",
							cite: "Adam Smith"
						})
					='\n'
					
					// Some other styles
					section.section.novi-bg.novi-bg-img.section-md
						h5 Some other styles
						p.first-letter Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.
						
						ul.list-xxs
							li
								dl.list-terms-inline
									dt Bold Text
									dd: span.text-medium At vero eos et accusamus et
							li
								dl.list-terms-inline
									dt Italic
									dd: span.font-italic Iusto odio dignissimos ducimus
							li
								dl.list-terms-inline
									dt Strike-through
									dd: span.text-strike Qui blanditiis praesentium voluptatum
							li
								dl.list-terms-inline
									dt Link
									dd: a(href='#') Deleniti atque corrupti quos
							li
								dl.list-terms-inline
									dt Inline Code
									dd: code Et quas molestias excepturi sint
					='\n'
					
					// Centre aligned image
					section.section.novi-bg.novi-bg-img.section-md
						h5 Centre aligned image
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
						.figure-centered
							figure.figure
								+img('typography-1-418x315')
					='\n'
					
					// Left aligned image
					section.section.novi-bg.novi-bg-img.section-md
						h5 Left aligned image
						.row.flex-md-row-reverse.row-30
							.col-md-6
								p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
							.col-md-6
								figure.figure
									+img('typography-2-418x315')
					='\n'
					
					// Right aligned image
					section.section.novi-bg.novi-bg-img.section-md
						h5 Right aligned image
						.row.row-30
							.col-md-6
								p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
							.col-md-6
								figure.figure
									+img('typography-3-418x315')
					='\n'
					
					// Large image should always fit
					section.section.novi-bg.novi-bg-img.section-md
						h5 Large image
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
						
						figure.figure
							+img('typography-4-886x668')
					='\n'
				
				
				.col-lg-4.section-divided__aside
					// Categories
					section.section.novi-bg.novi-bg-img.section-md
						h5 Categories
						ul.list-linked
							li: a(href='#') Retina Homepage
							li: a(href='#') New Page Examples
							li: a(href='#') Parallax Sections
							li: a(href='#') Responsive Layout
							li: a(href='#') Ready-made Pages
					='\n'
					
					// Posts
					section.section.novi-bg.novi-bg-img.section-md
						h5 Latest Posts
						ul.list-sm
							li
								// Post inline
								article.post-inline
									.post-inline__header
										span.post-inline__time Jan.20, 2021
										span.post-inline__author by Brian Williamson
									
									p.post-inline__link: a(href=postLink) Badminton Tips for Beginners
							li
								// Post inline
								article.post-inline
									.post-inline__header
										span.post-inline__time Jan.20, 2021
										span.post-inline__author by Brian Williamson
									
									p.post-inline__link: a(href=postLink) Where to Buy the Best Badminton Gear
							li
								// Post inline
								article.post-inline
									.post-inline__header
										span.post-inline__time Jan.20, 2021
										span.post-inline__author by Brian Williamson
									
									p.post-inline__link: a(href=postLink) Preparing for Your First Badminton Class
					='\n'
					
					// Tags
					section.section.novi-bg.novi-bg-img.section-md
						h5 Tags
						ul.list-tags
							li: a(href='#') News
							li: a(href='#') Badminton
							li: a(href='#') Sports
							li: a(href='#') Tips
							li: a(href='#') Techniques
	
	='\n'
	
	// Page Footer
	include ../sections/_footer-classic
