extends  ../_skeleton

//- Includes

block variables
	- pageName = 'Maps'

block page
	// Page header
	include ../sections/_header-default
	='\n'
	
	+breadcrumbs
	='\n'
	
	section.section.novi-bg.novi-bg-img.section-lg.bg-default
		include ../sections/_section-gmap
	='\n'
	
	// Page Footer
	include ../sections/_footer-corporate
