-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:400,400i,500,700",
		logo = {
			default: { normal: 'logo-default-139x35', retina: 'logo-default-279x69' },
			name: 'Interia'
		},
		colors = {
			primary: '#FFDC25'
		},
		menu = [
			{
				title: 'Home',
				category: 'home',
				link: '#home'
			},
			{
				title: 'About',
				link: '#about'
			},
			{
				title: 'Portfolio',
				link: '#portfolio'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		];
