extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-material-parallax

block variables
  - var activeIndex = 1
  - var pageName = 'Countdown'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], ['Countdown Timer']]
  })

  // Countdown
  section.section-lg.bg-default.text-center
    .container
      .countdown.countdown-default(data-type='until', data-time='31 Jan 2019 16:00', data-format='dhms')
  ='\n'

  // Countdown
  section.bg-gray-dark.text-center
    +material-parallax({
      "src": "images/parallax-1.jpg",
      "class": 'parallax-header rd-parallax-light'
    })
      .section-lg
        .container
          .countdown.countdown-default(data-type='until', data-time='31 Jan 2019 16:00', data-format='dhms')
  ='\n'

  // Countdown
  section.section-lg.bg-default.text-center
    .container
      .countdown.countdown-default.countdown-primary(data-type='until', data-time='31 Jan 2019 16:00', data-format='dhms')
  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

