extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 0 
  - var pageName = 'Header default'

block page
  // Page header 
  include ../sections/_header-default
  include ../sections/_section-slider-default

  include ../sections/_section-testimonials
  include ../sections/_section-flickr

  // Page Footer
  include ../sections/_footer-corporate

