footer.section.footer-classic
	.container
		.row.row-50.justify-content-between
			.col-xl-3.col-md-6
				+logo
				+rights
			.col-xl-3.col-md-6
				p.footer-classic-title Contacts
				ul.footer-classic-list
					li: ul
						li: dl.footer-classic-dl
							dt Ph.
							dd: a(href='tel:#') 1-800-123-1234
						li: dl.footer-classic-dl
							dt Mail.
							dd: a(href='mailto:#') Info@demolink.org
					li: a(href='#') 8439 Pierce Court Sacramento, CA 95820
					li: ul.group.group-sm.footer-classic-social-list
						li: a.link-social(href='#'): .icon.novi-icon.mdi.mdi-facebook
						li: a.link-social(href='#'): .icon.novi-icon.mdi.mdi-instagram
						li: a.link-social(href='#'): .icon.novi-icon.mdi.mdi-youtube-play
			.col-xl-2.col-md-6
				p.footer-classic-title Quick Links
				ul.footer-classic-nav
					li: a(href='#') How It Works
					li: a(href='#') About
					li: a(href='#') Why Choose Us
			.col-xl-2.col-md-6
				p.footer-classic-title Food Packages
				ul.footer-classic-nav
					li: a(href='#') Detox
					li: a(href='#') Balanced
					li: a(href='#') Vegan
