extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-panel
include ../elements/_ui-list-inline-icon
include ../elements/_ui-rd-parallax

block variables
	- var activeIndex = 5
	- var pageName = 'Contacts'

block page
	// Page header
	include ../sections/_header-default

	+breadcrumbs({
			path: [[menu[activeIndex].title, menu[activeIndex].link]]
	})
	
	section.section-md.bg-gray-3
		.container
			h3.heading-divider.text-center Contacts
			.row.row-50
				.col-md-5.col-lg-4
					ul.list-xs.contact-info
						li
							dl.list-terms-minimal
								dt My Address
								dd 2266 Richmond hwy., Alexandria,
									br.d-none.d-xl-block
									="\t"
									| VA 22303
								
						li
							dl.list-terms-minimal
								dt Phone
								dd: ul.list-semicolon
									li: a(href='callto:#') 1.555.329.0632

						li
							dl.list-terms-minimal
								dt Fax
								dd: ul.list-semicolon
									li: a(href='callto:#') 1.555.329.0632
									 
									
						li
							dl.list-terms-minimal
								dt E-mail
								dd: a(href='mailto:#') info@demolink.org

						li
							dl.list-terms-minimal
								dt We are open
								dd Mn-Fr: 10 am-8 pm
								
				.col-md-7.col-lg-8
					include ../includes/_form


	section
		include ../sections/_section-gmap

	include ../sections/_section-parallax-intro
		
	// Page Footer
	include ../sections/_footer-corporate

