mixin vide-bg(video, attrs)
	// Vide
	.vide_bg.novi-vide(data-vide-bg= video.src data-vide-options='posterType: jpg')&attributes(attrs)
		a.button.button-super(href='about-our-farm.html') read
			br
			| more
		block
