-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,300i%7CRoboto:400,300i",
		subscribeFormCounter = 0,
		logo = {
			default: { normal: 'logo-default-145x38', retina: 'logo-default-145x38' },
			inverse: { normal: 'logo-inverse-260x42', retina: 'logo-inverse-520x84' },
			name: 'Profit'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#FF4141'
		},
		menu = [
			{
				title: 'Home',
				category: 'home',
				link: '#home'
			},
			{
				title: 'Services',
				link:"#services"
			},
			{
			title: 'Gallery',
			link: '#gallery'
			},
			{
				title: 'Coaches',
				link: '#coaches'
			}
		];
