-
	var
		htmlClass = "wide wow-animation",
		fonts = "https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap",
		novi = true,

		logo = {
			default:  'logo-default-158x39.svg',
			inverse:  'logo-inverse-158x39.svg',
			inverse2: 'logo-inverse2-347x65.png',
			name:     'Farmey'
		},

		getTemplateLink = '//www.templatemonster.com/website-templates/monstroid2.html',
		seeFeaturesLink = 'section-see-features',
		postLink = 'standard-post.html',
		postSlider = 'gallery-post.html',
		postVideo = 'video-post.html',
		blogPostLink = 'link-post.html',
		postQuote = 'quote-post.html',
		postAudio = 'audio-post.html',
		postImage = 'image-post.html',
		videoSrc = '//www.youtube.com/embed/ccuQoF0vKYU',
		menu = [
			{
				title: 'About Our Farm',
				link: 'about-our-farm.html',
			},
			{
				title: 'Our Products',
				link: 'products.html',
			},
			{
				title: 'Quality Control',
				link: 'quality-control.html',
			},
			{
				title: 'Careers',
				link: 'careers.html',
			},
			{
				title: 'Contacts',
				link: 'contacts.html',
			},
			{
				title: 'Pages',
				subtitle: 'Text',
				link: '#',
				megamenu: [
					{
						title: 'Elements',
						link: null,
						list: [
							{title: 'Accordion'},
							{title: 'Buttons'},
							{title: 'Contact Forms'},
							{title: 'Progress Bars'},
							{title: 'Typography'},
							{title: 'Tabs'}
						]
					},
					{
						title: 'Special Pages',
						link: null,
						list: [
							{title: '404 Page'},
							{title: 'Gallery'},
							{title: 'Search Results'},
							{title: 'Privacy Policy'},

						]
					}
				]
			},

		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home',
		self = self || {};
