footer.footer-corporate.section-xl.novi-bg.novi-bg-img.bg-accent
		.container
			.row.justify-content-sm-center.justify-content-lg-start.row-40.row-md-60
				.col-sm-6.col-md-3.col-xl-4
					+logo
					p.ms-auto.me-auto.ms-sm-0(style='max-width: 260px;') GoDrive is a nationwide car rental service that provides cars and vehicles of any size and make at an affordable and reasonable price.
				
				.col-sm-6.col-md-3.col-xl-2
					ul.list
						li: a(href='about.html') About us
						li: a(href='services.html') Services
						li: a(href='testimonials.html') Testimonials
						li: a(href='pricing.html') Prices
						li: a(href='faqs.html') FAQs
						li: a(href='contacts.html') Location

				
				.col-sm-6.col-md-3.col-xl-3
					h6 Find us
					address 27 Rainbow Rd#[br] Los Angeles, CA#[br] California 90017
					ul.list-inline-md.list-social
						li: a.icon.novi-icon.icon-md.fa.fa-facebook(href='#')
						li: a.icon.novi-icon.icon-md.fa.fa-twitter(href='#')
						li: a.icon.novi-icon.icon-md.fa.fa-instagram(href='#')
						li: a.icon.novi-icon.icon-md.fa.fa-youtube-play(href='#')
				.col-sm-6.col-md-3
					h6 Contacts
					dl.list-terms.text-center.text-sm-start
						dt General:
						dd: ul
							li: a(href='tel:#') +1 (480) 555-0103
							li: a.text-decoration-underline(href='mailto:#') info@demolink.org

						dt Other inquiries:
						dd: ul
							li: a(href='tel:#') +1 (800) 475-9123
							li: a.text-decoration-underline(href='mailto:#') mail@demolink.org
			.footer-corporate__inner
				+rights
				

