section.section.section-xl.novi-bg.novi-bg-img.bg-image.bg-image-7.bg-overlay-light(style='background-image: url(images/bg-image-7.jpg);')
	.container
		.row.row-fix
			.col-md-8.col-lg-6
				h2 You start the engine and your adventure begins
				p Mauris sit amet dolor vitae augue pharetra eleifend. Aenean vitae tempus justo. Sed nec ex nisi.
				p Nunc molestie dolor ac mi tempor vulputate. Maecenas ac maximus lacus. Nullam in nisl sit amet sapien porttitor ultricies. Etiam bibendum scelerisque erat, non ultrices.
				a(href='pricing.html' ).button.button-primary Rent a car
='\n'
