+parallax({
	img: "parallax-02-1920x1080"
})
	.section-xl.context-dark
		.container.text-center
			.row.justify-content-center
				.col-md-10.col-xl-8
					h2.heading-1 Schedule #[br]your appointment!
					p Make an appointment at GoDrive to rent a car that fits your holiday and budget.
					a.button.button-light(href='pricing.html' target='_blank') Rent a car
='\n'
