<section class="section parallax-container text-center parallax-header context-dark" data-parallax-img="images/parallax-03.jpg">
  <div class="parallax-content">
    <div class="parallax-header__inner">
      <div class="parallax-header__content">
        <div class="container">
          <div class="row row-fix justify-content-sm-center">
            <div class="col-md-10 col-xl-8">
              <h2>About Us</h2>
              <p>Monstroid<sup>2</sup> boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>