<section class="section novi-bg bg-gray-lighter object-wrap">
  <div class="section-lg">
    <div class="container">
      <div class="row row-fix">
        <div class="col-lg-5">
          <h3>About us</h3>
          <p>We are a team of professional, energetic individuals with talented designers and experienced managers available to guide our clients through the flawless and timely execution of any web design project. Since day one, we have been delivering impressive websites to our clients worldwide.</p>
          <div class="row row-30">
            <div class="col-md-6 col-lg-12 col-xl-6">
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-menu3"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a>Award-winning designs</a></p>
                    <p>We have received numerous awards for our designs, concepts, and ideas.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-users2"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a>Expert team</a></p>
                    <p>We are a team of dedicated web design and development professionals.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="row row-fix justify-content-md-center">
            <div class="col-md-12 group-progress">
              <div class="progress-linear progress-linear-modern">
                <div class="progress-header">
                  <p>UI Design</p><span class="progress-value">98</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </div>
              <div class="progress-linear progress-linear-modern">
                <div class="progress-header">
                  <p>UX Design</p><span class="progress-value">90</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </div>
              <div class="progress-linear progress-linear-modern">
                <div class="progress-header">
                  <p>Front End Development</p><span class="progress-value">86</span>
                </div>
                <div class="progress-bar-linear-wrap">
                  <div class="progress-bar-linear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="novi-bg-img object-wrap__body object-wrap__body-sizing-1 object-wrap__body-md-right bg-image" style="background-image: url(images/image-original-13-1200x800.jpg)"></div>
</section>