<section class="section novi-bg novi-bg-img section-lg bg-default">
  <div class="container">
    <div id="accordion2" role="tablist">
      <article class="card card-custom">
        <div class="card-custom-heading" role="tab">
          <h5 class="card-custom-title"><a class="collapsed" id="accordion2-card-head-hjoofiux" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-qlmbbiha" aria-controls="accordion2-card-body-qlmbbiha" aria-expanded="false" role="button">Technical Support Representative <div class="card-arrow"></div></a></h5>
        </div>
        <div class="collapse card-custom-collapse" id="accordion2-card-body-qlmbbiha" aria-labelledby="accordion2-card-head-hjoofiux" data-parent="#accordion2" role="tabpanel">
          <div class="card-custom-body">
            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p><a class="button button-primary" href="#">APPLY NOW</a>
          </div>
        </div>
      </article>
      <article class="card card-custom">
        <div class="card-custom-heading" role="tab">
          <h5 class="card-custom-title"><a class="collapsed" id="accordion2-card-head-jkjcaink" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-ksmbkwgi" aria-controls="accordion2-card-body-ksmbkwgi" aria-expanded="false" role="button">Customer Care Specialist <div class="card-arrow"></div></a></h5>
        </div>
        <div class="collapse card-custom-collapse" id="accordion2-card-body-ksmbkwgi" aria-labelledby="accordion2-card-head-jkjcaink" data-parent="#accordion2" role="tabpanel">
          <div class="card-custom-body">
            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p><a class="button button-primary" href="#">APPLY NOW</a>
          </div>
        </div>
      </article>
      <article class="card card-custom">
        <div class="card-custom-heading" role="tab">
          <h5 class="card-custom-title"><a class="collapsed" id="accordion2-card-head-gilqcgfs" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-jlfmrdfr" aria-controls="accordion2-card-body-jlfmrdfr" aria-expanded="false" role="button">Interactive Art Director <div class="card-arrow"></div></a></h5>
        </div>
        <div class="collapse card-custom-collapse" id="accordion2-card-body-jlfmrdfr" aria-labelledby="accordion2-card-head-gilqcgfs" data-parent="#accordion2" role="tabpanel">
          <div class="card-custom-body">
            <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p><a class="button button-primary" href="#">APPLY NOW</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>