<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container">
    <div class="row row-50 justify-content-center justify-content-lg-start">
      <div class="col-lg-12">
        <div class="novi-in-bg novi-in-bg-img jp-player-init jp-player-js jp-player-wide">
          <div class="jp-jplayer"></div>
          <div class="jp-audio jp-audio-0" role="application" aria-label="media player">
            <ul class="jp-player-list">
              <li class="jp-player-list-item" data-jp-title="Cro Magnon Man" data-jp-artist="The Stark Palace" data-jp-mp3="audio/sound.mp3"></li>
            </ul>
            <div class="jp-meta">
              <div class="unit flex-md-row align-items-center unit-spacing-xlg">
                <div class="unit-left"><img class="rounded-circle" src="images/timeline-1-109x109.jpg" alt="" width="109" height="109"> </div>
                <div class="unit-body">
                  <h5 class="jp__title">Installing Your First HTML Template</h5>
                  <p class="jp__author">by Brian Williamson</p>
                </div>
              </div>
            </div>
            <div class="jp-interface">
              <div class="jp-controls-wrapper">
                <div class="jp-button jp-playpaus-button"> <button class="jp-btn jp-play" role="button" tabindex="0"></button> </div>
                <div class="jp-time-rail">
                  <div class="jp-progress">
                    <div class="jp-seek-bar">
                      <div class="jp-play-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="jp-time-wrapper">
                  <div class="jp-current-time">00:00</div>
                </div>
              </div>
              <div class="jp-volume-wrapper">
                <div class="jp-button jp-volume-button"> <button class="jp-btn jp-mute" role="button" tabindex="0"></button> </div>
                <div class="jp-volume-bar">
                  <div class="jp-volume-bar-value"></div>
                </div>
              </div>
            </div>
            <div class="jp-playlist jp-playlist--hidden">
              <ul>
                <li>&nbsp;</li>
              </ul>
            </div>
            <div class="jp-no-solution"><span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="novi-in-bg novi-in-bg-img jp-player-init jp-player-js jp-player-wide">
          <div class="jp-jplayer"></div>
          <div class="jp-audio jp-audio-1" role="application" aria-label="media player">
            <ul class="jp-player-list">
              <li class="jp-player-list-item" data-jp-title="Cro Magnon Man" data-jp-artist="The Stark Palace" data-jp-mp3="audio/sound.mp3"></li>
            </ul>
            <div class="jp-meta">
              <h5 class="jp__title">Installing Your First HTML Template</h5>
              <p class="jp__author">by Brian Williamson</p>
            </div>
            <div class="jp-interface">
              <div class="jp-controls-wrapper">
                <div class="jp-button jp-playpaus-button"> <button class="jp-btn jp-play" role="button" tabindex="0"></button> </div>
                <div class="jp-time-rail">
                  <div class="jp-progress">
                    <div class="jp-seek-bar">
                      <div class="jp-play-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="jp-time-wrapper">
                  <div class="jp-current-time">00:00</div>
                </div>
              </div>
              <div class="jp-volume-wrapper">
                <div class="jp-button jp-volume-button"> <button class="jp-btn jp-mute" role="button" tabindex="0"></button> </div>
                <div class="jp-volume-bar">
                  <div class="jp-volume-bar-value"></div>
                </div>
              </div>
            </div>
            <div class="jp-playlist jp-playlist--hidden">
              <ul>
                <li>&nbsp;</li>
              </ul>
            </div>
            <div class="jp-no-solution"><span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-8">
        <div class="novi-in-bg novi-in-bg-img jp-player-init jp-player-js">
          <div class="jp-jplayer"></div>
          <div class="jp-audio jp-audio-2" role="application" aria-label="media player">
            <ul class="jp-player-list">
              <li class="jp-player-list-item" data-jp-title="Cro Magnon Man" data-jp-artist="The Stark Palace" data-jp-mp3="audio/sound.mp3"></li>
            </ul>
            <div class="jp-meta">
              <div class="unit align-items-center unit-spacing-xlg">
                <div class="unit-left"><img class="rounded-circle" src="images/timeline-1-109x109.jpg" alt="" width="109" height="109"> </div>
                <div class="unit-body">
                  <h5 class="jp__title">Installing Your First HTML Template</h5>
                  <p class="jp__author">by Brian Williamson</p>
                </div>
              </div>
            </div>
            <div class="jp-interface">
              <div class="jp-controls-wrapper">
                <div class="jp-button jp-playpaus-button"> <button class="jp-btn jp-play" role="button" tabindex="0"></button> </div>
                <div class="jp-time-rail">
                  <div class="jp-progress">
                    <div class="jp-seek-bar">
                      <div class="jp-play-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="jp-time-wrapper">
                  <div class="jp-current-time">00:00</div>
                </div>
              </div>
              <div class="jp-volume-wrapper">
                <div class="jp-button jp-volume-button"> <button class="jp-btn jp-mute" role="button" tabindex="0"></button> </div>
                <div class="jp-volume-bar">
                  <div class="jp-volume-bar-value"></div>
                </div>
              </div>
            </div>
            <div class="jp-playlist jp-playlist--hidden">
              <ul>
                <li>&nbsp;</li>
              </ul>
            </div>
            <div class="jp-no-solution"><span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-8">
        <div class="novi-in-bg novi-in-bg-img jp-player-init jp-player-js">
          <div class="jp-jplayer"></div>
          <div class="jp-audio jp-audio-3" role="application" aria-label="media player">
            <ul class="jp-player-list">
              <li class="jp-player-list-item" data-jp-title="Cro Magnon Man" data-jp-artist="The Stark Palace" data-jp-mp3="audio/sound.mp3"></li>
            </ul>
            <div class="jp-meta">
              <h5 class="jp__title">Installing Your First HTML Template</h5>
              <p class="jp__author">by Brian Williamson</p>
            </div>
            <div class="jp-interface">
              <div class="jp-controls-wrapper">
                <div class="jp-button jp-playpaus-button"> <button class="jp-btn jp-play" role="button" tabindex="0"></button> </div>
                <div class="jp-time-rail">
                  <div class="jp-progress">
                    <div class="jp-seek-bar">
                      <div class="jp-play-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="jp-time-wrapper">
                  <div class="jp-current-time">00:00</div>
                </div>
              </div>
              <div class="jp-volume-wrapper">
                <div class="jp-button jp-volume-button"> <button class="jp-btn jp-mute" role="button" tabindex="0"></button> </div>
                <div class="jp-volume-bar">
                  <div class="jp-volume-bar-value"></div>
                </div>
              </div>
            </div>
            <div class="jp-playlist jp-playlist--hidden">
              <ul>
                <li>&nbsp;</li>
              </ul>
            </div>
            <div class="jp-no-solution"><span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your<a href="http://get.adobe.com/flashplayer/" target="_blank"> Flash plugin</a>.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>