<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container">
    <div class="row row-50">
      <div class="col-md-6 col-lg-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-circle blurb-circle_centered">
          <div class="blurb-circle__icon"><span class="icon novi-icon linear-icon-feather"></span></div>
          <p class="blurb__title">Clean and Crispy Design</p>
          <p>Monstroid² is crafted by top industry leaders with love, care and customer needs in mind.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-circle blurb-circle_centered">
          <div class="blurb-circle__icon"><span class="icon novi-icon linear-icon-menu3"></span></div>
          <p class="blurb__title">Template</p>
          <p>Use our Template to customize and update your website within seconds.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Blurb circle-->
        <article class="blurb blurb-circle blurb-circle_centered">
          <div class="blurb-circle__icon"><span class="icon novi-icon linear-icon-bag2"></span></div>
          <p class="blurb__title">Advanced UI Kit</p>
          <p>Monstroid² comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.</p>
        </article>
      </div>
    </div>
  </div>
</section>