<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container">
    <div class="row row-50">
      <div class="col-md-6 col-lg-4">
        <!-- Blurb minimal-->
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-menu3"></span></div>
          <p class="blurb__title">Template</p>
          <p>Use our Template to customize and update your website within seconds.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Blurb minimal-->
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-users2"></span></div>
          <p class="blurb__title">Made for People</p>
          <p>Monstroid² is built for real users that enjoy easy website development.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <!-- Blurb minimal-->
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-bag2"></span></div>
          <p class="blurb__title">Advanced UI Kit</p>
          <p>Monstroid² comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.</p>
        </article>
      </div>
    </div>
  </div>
</section>