<section class="section novi-bg novi-bg-img section-xl bg-black">
  <div class="container">
    <div class="row row-50 row-lg-90">
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-rocket"></span></div>
          <p class="blurb__title">Built For Speed</p>
          <p>Built for speed and performance. Get the best results at GTmetrix and Google PageSpeed.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-equalizer"></span></div>
          <p class="blurb__title">Flexible and Multipurpose</p>
          <p>Monstroid² allows to create various websites for complex and scalable project.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-file-search"></span></div>
          <p class="blurb__title">SEO Friendly</p>
          <p>Valid code and performance optimized framework make SEO easy and hassle free.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-headset"></span></div>
          <p class="blurb__title">24/7 Support</p>
          <p>24/7 Premium technical support and great documentation are included in theme price.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-arrow-down-square"></span></div>
          <p class="blurb__title">Social Integration</p>
          <p>You can easily integrate your Twitter and Facebook accounts with the website using the social widgets.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-minimal">
          <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-cart-full"></span></div>
          <p class="blurb__title">Advanced UI Kit</p>
          <p>Monstroid² comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.</p>
        </article>
      </div>
    </div>
  </div>
</section>