<section class="section novi-bg novi-bg-img section-lg bg-default">
  <div class="container">
    <div class="table-responsive">
      <table class="table-cart">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-cart-remove-item"><span class="icon novi-icon icon-sm linear-icon-cross2 icon-gray-4"></span></td>
            <td style="min-width: 330px">
              <div class="unit flex-row unit-spacing-md align-items-center">
                <div class="unit-left"><img src="images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-141x188.jpg" alt="" width="141" height="188"> </div>
                <div class="unit-body">
                  <h6><a class="thumbnail-classic-title" href="single-product.html">Adidas Originals Trefoil Logo Snapback Trucker Cap</a></h6>
                </div>
              </div>
            </td>
            <td>
              <div class="product-price"><span>45</span></div>
            </td>
            <td> <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="20"> </td>
            <td>
              <div class="product-price"><span>45</span></div>
            </td>
          </tr>
          <tr>
            <td class="table-cart-remove-item"><span class="icon novi-icon icon-sm linear-icon-cross2 icon-gray-4"></span></td>
            <td style="min-width: 330px">
              <div class="unit flex-row unit-spacing-md align-items-center">
                <div class="unit-left"><img src="images/ASOS-Sculpt-Me-Premium-Jeans-in-Clean-Black-141x188.jpg" alt="" width="141" height="188"> </div>
                <div class="unit-body">
                  <h6><a class="thumbnail-classic-title" href="single-product.html">ASOS ‘Sculpt Me’ Premium Jeans in Clean Black</a></h6>
                </div>
              </div>
            </td>
            <td>
              <div class="product-price"><span>45</span></div>
            </td>
            <td> <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="20"> </td>
            <td>
              <div class="product-price"><span>45</span></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row row-fix row-50 text-center">
      <div class="col-md-8 text-md-left">
        <div class="group-xs">
          <div class="form-wrap form-wrap_icon"><span class="novi-icon form-icon linear-icon-tag"></span> <input class="form-input" type="text" name="name" placeholder="Enter Code"> </div> <button class="button button-black" type="submit">Aplly coupon</button>
        </div>
      </div>
      <div class="col-md-4 text-md-right"> <button class="button button-gray-light-outline" type="submit">Update card</button> </div>
      <div class="col-sm-12">
        <hr>
      </div>
      <div class="col-sm-12">
        <div class="text-md-right">
          <dl class="list-terms-minimal"> <dt>Subtotal</dt>
            <dd>$90</dd>
          </dl>
          <dl class="heading-5 list-terms-minimal"> <dt>Total</dt>
            <dd>$90</dd>
          </dl><a class="button button-primary" href="checkout.html"> Proceed to Checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>