<section class="section novi-bg novi-bg-img section-xl bg-default text-center">
  <div class="container">
    <div class="row row-70">
      <div class="col-md-6 col-lg-4"><a class="link-image" href="#"><img src="images/brand-1-418x315.jpg" alt="" width="418" height="315"></a></div>
      <div class="col-md-6 col-lg-4"><a class="link-image" href="#"><img src="images/brand-2-418x315.jpg" alt="" width="418" height="315"></a></div>
      <div class="col-md-6 col-lg-4"><a class="link-image" href="#"><img src="images/brand-3-418x315.jpg" alt="" width="418" height="315"></a></div>
      <div class="col-md-6 col-lg-4"><a class="link-image" href="#"><img src="images/brand-4-418x315.jpg" alt="" width="418" height="315"></a></div>
      <div class="col-md-6 col-lg-4"><a class="link-image" href="#"><img src="images/brand-5-418x315.jpg" alt="" width="418" height="315"></a></div>
      <div class="col-md-6 col-lg-4"><a class="link-image" href="#"><img src="images/brand-6-418x315.jpg" alt="" width="418" height="315"></a></div>
    </div>
  </div>
</section>