<section class="section novi-bg novi-bg-img section-xl bg-default text-center" id="section-see-features">
  <div class="container">
    <div class="row row-fix justify-content-lg-center">
      <div class="col-lg-10 col-xl-8">
        <h3>Consistency is the key</h3>
        <p>Monstroid² boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.</p>
      </div>
    </div>
    <div class="row row-50">
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-circle blurb-circle_centered">
          <div class="blurb-circle__icon"><span class="icon novi-icon linear-icon-feather"></span></div>
          <p class="blurb__title">Clean and Crispy Design</p>
          <p>Monstroid² is crafted by top industry leaders with love, care and customer needs in mind.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-circle blurb-circle_centered">
          <div class="blurb-circle__icon"><span class="icon novi-icon linear-icon-menu3"></span></div>
          <p class="blurb__title">Customizable Template</p>
          <p>Use our Template to customize and update your website within seconds.</p>
        </article>
      </div>
      <div class="col-md-6 col-lg-4">
        <article class="blurb blurb-circle blurb-circle_centered">
          <div class="blurb-circle__icon"><span class="icon novi-icon linear-icon-bag2"></span></div>
          <p class="blurb__title">Advanced UI Toolkit</p>
          <p>Monstroid² comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.</p>
        </article>
      </div>
    </div>
  </div>
</section>