<section class="section novi-bg novi-bg-img section-xl">
  <div class="container">
    <div class="row row-50">
      <div class="col-md-6 col-lg-4">
        <h5>Consistency is the Key</h5>
        <p>Monstroid<sup>2</sup> boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.</p>
        <p>Unlike many other themes Monstroid<sup>2</sup> is built around user content but not vice versa. Thus you may be sure when you add your own texts and images the theme will look same cool and appealing.</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h5>More plug-ins for better functionality</h5>
        <p>Monstroid supports a huge list of plugins developed both by Templatemonster.com and 3rd party developers. All plugins are available under GPL3 license. Create events, make schedules, book appointments, build restaurant menus, run community, start your features rich online shop and do so many other things with Monstroid<sup>2</sup> plugins pack.</p><a class="button button-primary" href="//www.templatemonster.com/website-templates/monstroid2.html" target="_blank">Buy template</a>
      </div>
      <div class="col-md-6 col-lg-4 group-blurb">
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-rocket"></span></div>
            </div>
            <div class="unit-body">
              <p class="blurb__title">Built For Speed</p>
              <p>Built for speed and performance. Get the best results at GTmetrix and Google PageSpeed.</p>
            </div>
          </div>
        </article>
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-arrow-down-square"></span></div>
            </div>
            <div class="unit-body">
              <p class="blurb__title">Social Integration</p>
              <p>You can easily integrate your Twitter and Facebook accounts with the website using the social widgets.</p>
            </div>
          </div>
        </article>
        <article class="blurb blurb-minimal">
          <div class="unit flex-row unit-spacing-md">
            <div class="unit-left">
              <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-equalizer"></span></div>
            </div>
            <div class="unit-body">
              <p class="blurb__title">Flexible and Multipurpose</p>
              <p>Monstroid² allows to create a various website for complex and scalable project.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>