<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container">
    <div class="row row-fix justify-content-md-center flex-lg-row-reverse align-items-lg-center justify-content-lg-between row-50">
      <div class="col-md-9 col-lg-5">
        <h3>Content Driven Design</h3>
        <p>Unlike many other templates, Monstroid² is built around user content but not vice versa. Thus you may be sure when you add your own texts and images the template will look same cool and appealing.</p>
      </div>
      <div class="col-md-9 col-lg-6"><img src="images/home-default-2-652x491.jpg" alt="" width="652" height="491"> </div>
    </div>
  </div>
</section>