<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container">
    <div class="row row-fix row-50 align-items-lg-center justify-content-lg-between">
      <div class="col-lg-5">
        <h3>Control Your Website</h3>
        <p>Monstroid² gives you an ultimate set of tools that allow you to take full control of your site with responsive &amp; retina-ready design, various child themes, social integration, SEO optimization and other important and powerful features.</p>
      </div>
      <div class="col-lg-6">
        <div class="row gallery-wrap">
          <div class="col-6"><img src="images/home-default-3-301x227.jpg" alt="" width="301" height="227"> </div>
          <div class="col-6"><img src="images/home-default-4-301x227.jpg" alt="" width="301" height="227"> </div>
          <div class="col-6"><img src="images/home-default-5-301x227.jpg" alt="" width="301" height="227"> </div>
          <div class="col-6"><img src="images/home-default-6-301x227.jpg" alt="" width="301" height="227"> </div>
        </div>
      </div>
    </div>
  </div>
</section>