<section class="section parallax-container context-dark" data-parallax-img="images/parallax-02.jpg">
  <div class="parallax-content">
    <div class="container section-xl">
      <div class="row row-fix justify-content-sm-center justify-content-lg-end">
        <div class="col-sm-10 col-md-7 col-lg-6">
          <h3>Haven’t Found What You Like? Browse Our Other Demos</h3>
          <p>Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art &amp; Photography, Business, Education and Design.</p><a class="button button-primary" href="index.html">View now!</a>
        </div>
      </div>
    </div>
  </div>
</section>