<section class="section novi-bg novi-bg-img bg-accent">
  <div class="container">
    <div class="row row-fix justify-content-md-center align-items-lg-end">
      <div class="col-md-8 col-lg-6 section-xl">
        <h3>Haven’t Found What You Like? Browse Our Other Demos</h3>
        <p>Monstroid² has everything to get you covered. Take a look at the child themes available for you. The list of themes covers most popular spheres of interest including Art &amp; Photography, Business, Education and Design.</p><a class="button button-gray-light-outline" href="#">View now!</a>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="cat-img-group">
          <div><img src="images/cat-2-507x508.jpg" alt="" width="507" height="508"> </div>
          <div><img src="images/cat-1-326x427.jpg" alt="" width="326" height="427"> </div>
        </div>
      </div>
    </div>
  </div>
</section>