<section class="section novi-bg novi-bg-img bg-default section-xl">
  <div class="container">
    <div class="row row-fix row-60">
      <div class="col-sm-12">
        <div class="calendar-box-search">
          <div class="calendar-box-search-inner">
            <form class="rd-mailform rd-mailform_style-1 rd-mailform-inline-flex">
              <div class="form-wrap form-wrap_icon"> <label class="form-label-outside" for="event-date">Date</label><span class="novi-icon form-icon form-wrap_icon__label-outside linear-icon-calendar-31"></span> <input class="form-input" id="event-date" type="text" name="name" placeholder="Date" data-time-picker="date"> </div>
              <div class="form-wrap form-wrap_icon"> <label class="form-label-outside" for="event-search">Search</label><span class="novi-icon form-icon form-wrap_icon__label-outside linear-icon-magnifier"></span> <input class="form-input" id="event-search" type="text" name="phone" placeholder="Search"> </div> <button class="button button-primary" type="submit">Find events</button>
            </form>
          </div>
          <div class="calendar-box-search-inner text-center">
            <h6><a href="#" data-target=".calendar-box-list-view" data-toggle="collapse">View As</a></h6>
            <ul class="calendar-box-list-view list-xxs">
              <li><span class="icon novi-icon linear-icon-clipboard-text"></span>List</li>
              <li><a class="icon novi-icon linear-icon-calendar-full" href="monthly-events.html">Month</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center group-event">
        <h3>Events</h3>
        <div class="divider-wrap"> <time class="text-accent" datetime="2019">September 2019</time> </div>
        <div class="row row-fix row-30 post-event">
          <div class="col-md-6"><img src="images/list-event-1-652x491.jpg" alt="" width="652" height="491"> </div>
          <div class="col-md-6 text-md-left post-event-body">
            <h4><a class="thumbnail-classic-title" href="single-event.html"> HTML Widgets – A to Z</a></h4> <time class="thumbnail-classic-time" datetime="2019">September 28, 2019 @ 8:00 am - October 5, 2019 @ 5:00 pm</time>
            <div class="events-detail"> <address><span>Big Theatre, 378, Main Street, San-Francisco, CA United States</span><a href="#">+ Google Map</a></address> </div>
            <p>When you need your company to have a new website or if you venture on updating your old webpage with a new look and functionality, the choices are versatile… Assuming that you will go the easy way and choose a template for your HTML website, the overall number of characteristics that you will need to keep in mind narrows down significantly. But how do you stay focused on what kind of a template you need and what do you want…</p><span class="button button-lg button-gray-light-outline">$100</span><a class="button button-link" href="single-event.html"> Find out more</a>
          </div>
        </div>
        <div class="divider-wrap"> <time class="text-accent" datetime="2019">September 2019</time> </div>
        <div class="row row-fix row-30 post-event">
          <div class="col-md-6"><img src="images/list-event-2-652x491.jpg" alt="" width="652" height="491"> </div>
          <div class="col-md-6 text-md-left post-event-body">
            <h4><a class="thumbnail-classic-title" href="single-event.html"> HTML Plugins Explained</a></h4> <time class="thumbnail-classic-time" datetime="2019">September 28, 2019 @ 8:00 am - October 5, 2019 @ 5:00 pm</time>
            <div class="events-detail"> <address><span>Big Theatre, 378, Main Street, San-Francisco, CA United States</span><a href="#">+ Google Map</a></address> </div>
            <p>When you need your company to have a new website or if you venture on updating your old webpage with a new look and functionality, the choices are versatile… Assuming that you will go the easy way and choose a template for your HTML website, the overall number of characteristics that you will need to keep in mind narrows down significantly. But how do you stay focused on what kind of a template you need and what do you want…</p><span class="button button-lg button-gray-light-outline">$100</span><a class="button button-link" href="single-event.html"> Find out more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>