<footer class="novi-bg novi-bg-img footer-minimal bg-default">
  <div class="container">
    <ul class="list-xxs">
      <li>
        <dl class="list-terms-minimal"> <dt>Address</dt>
          <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
        </dl>
      </li>
      <li>
        <dl class="list-terms-minimal"> <dt>Phones</dt>
          <dd>
            <ul class="list-semicolon">
              <li><a href="tel:#">(800) 123-0045</a></li>
              <li><a href="tel:#">(800) 123-0045</a></li>
            </ul>
          </dd>
        </dl>
      </li>
      <li>
        <dl class="list-terms-minimal"> <dt>E-mail</dt>
          <dd><a href="mailto:#">info@demolink.org</a></dd>
        </dl>
      </li>
      <li>
        <dl class="list-terms-minimal"> <dt>We are open</dt>
          <dd>Mn-Fr: 10 am-8 pm</dd>
        </dl>
      </li>
    </ul>
    <ul class="list-inline-sm footer-minimal__list">
      <li><a class="icon novi-icon icon-sm icon-primary fa fa-facebook" href="#"></a></li>
      <li><a class="icon novi-icon icon-sm icon-primary fa fa-twitter" href="#"></a></li>
      <li><a class="icon novi-icon icon-sm icon-primary fa fa-google-plus" href="#"></a></li>
      <li><a class="icon novi-icon icon-sm icon-primary fa fa-vimeo" href="#"></a></li>
      <li><a class="icon novi-icon icon-sm icon-primary fa fa-youtube" href="#"></a></li>
      <li><a class="icon novi-icon icon-sm icon-primary fa fa-pinterest" href="#"></a></li>
    </ul>
    <p class="rights"><span>Monstroid²</span><span>&nbsp;</span><span class="copyright-year"></span>.</p>
  </div>
</footer>