<footer class="novi-bg novi-bg-img footer-modern">
  <div class="container">
    <div class="footer-modern__layer footer-modern__layer_top"> <a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-347x65.png" alt="" width="173" height="32"><img class="brand-logo-light" src="images/logo-inverse-347x65.png" alt="" width="173" height="32"></a>
      <ul class="list-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="monthly-events.html">Events</a></li>
        <li><a href="portfolio.html">Gallery</a></li>
        <li><a href="shop-grid.html">Shop</a></li>
        <li><a href="#">Elements</a></li>
      </ul>
      <ul class="list-inline-xxs footer-modern__list">
        <li><a class="icon novi-icon icon-xxs icon-primary fa fa-facebook" href="#"></a></li>
        <li><a class="icon novi-icon icon-xxs icon-primary fa fa-twitter" href="#"></a></li>
        <li><a class="icon novi-icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>
        <li><a class="icon novi-icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>
        <li><a class="icon novi-icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>
        <li><a class="icon novi-icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>
      </ul>
    </div>
    <div class="footer-modern__layer footer-modern__layer_bottom">
      <p class="rights"><span>Monstroid²</span><span>&nbsp;</span><span class="copyright-year"></span>.</p>
      <ul class="list-bordered">
        <li>
          <dl class="list-terms-minimal"> <dt>Address</dt>
            <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
          </dl>
        </li>
        <li>
          <dl class="list-terms-minimal"> <dt>Phones</dt>
            <dd>
              <ul class="list-semicolon">
                <li><a href="tel:#">(800) 123-0045</a></li>
                <li><a href="tel:#">(800) 123-0045</a></li>
              </ul>
            </dd>
          </dl>
        </li>
        <li>
          <dl class="list-terms-minimal"> <dt>E-mail</dt>
            <dd><a href="mailto:#">info@demolink.org</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</footer>