<section class="section novi-bg novi-bg-img section-xl bg-gray-lighter">
  <div class="container">
    <div class="row row-fix justify-content-md-center flex-lg-row-reverse align-items-lg-center justify-content-lg-between row-50">
      <div class="col-md-9 col-lg-6">
        <h3>Impressive Features</h3>
        <div class="group-blurb blurb-minimal">
          <article class="blurb blurb-minimal">
            <div class="unit flex-row unit-spacing-md">
              <div class="unit-left">
                <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-rocket"></span></div>
              </div>
              <div class="unit-body">
                <p class="blurb__title">Built for Speed</p>
                <p>Built for speed and performance. Get the best results at GTmetrix and Google PageSpeed.</p>
              </div>
            </div>
          </article>
          <article class="blurb blurb-minimal">
            <div class="unit flex-row unit-spacing-md">
              <div class="unit-left">
                <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-equalizer"></span></div>
              </div>
              <div class="unit-body">
                <p class="blurb__title">Flexible and Multipurpose</p>
                <p>Monstroid² allows to create various websites for complex and scalable projects.</p>
              </div>
            </div>
          </article>
          <article class="blurb blurb-minimal">
            <div class="unit flex-row unit-spacing-md">
              <div class="unit-left">
                <div class="blurb-minimal__icon"><span class="icon novi-icon linear-icon-arrow-down-square"></span></div>
              </div>
              <div class="unit-body">
                <p class="blurb__title">Social Integration</p>
                <p>You can easily integrate your Twitter and Facebook accounts with the website using the social widgets.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="col-md-7 col-lg-4">
        <figure class="image-sizing-1"><img src="images/home-business-1-388x608.png" alt="" width="388" height="608"> </figure>
      </div>
    </div>
  </div>
</section>