<section class="section section novi-bg novi-bg-img section-xl bg-default text-center">
  <div class="container">
    <div class="row row-fix justify-content-md-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3>MailChimp</h3>
        <p class="big">Sign up to our newsletter and be the first to know about latest news, special offers, events, and discounts.</p> <!-- Mailchimp-->
        <form class="rd-form rd-mailform_sizing-1 mailchimp-mailform rd-mailform-inline-flex" data-form-output="form-output-global" action="https://templatemonster.us15.list-manage.com/subscribe/post?u=ba5bb362073a413f48e4a7b90&amp;id=8dc95d9dec" method="post">
          <div class="form-wrap form-wrap_icon"><span class="novi-icon form-icon linear-icon-envelope"></span> <label class="form-label" for="mailchimp-email">Enter your e-mail</label> <input class="form-input" id="mailchimp-email" type="email" name="email" data-constraints="@Email @Required"> </div> <button class="button button-primary" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>