<section class="section novi-bg novi-bg-img section-xl bg-accent text-center">
  <div class="container">
    <div class="icon novi-icon icon-xxl linear-icon-hammer-wrench"></div>
    <h3>Website will be online again soon. <br>Currently it undergoes a regular health checkup.</h3>
    <div class="progress-bar-linear-limited">
      <div class="progress-linear">
        <div class="progress-header">
          <p>Website Update Progress</p><span class="progress-value">49</span>
        </div>
        <div class="progress-bar-linear-wrap">
          <div class="progress-bar-linear"></div>
        </div>
      </div>
    </div>
  </div>
</section>