<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container">
    <div class="row row-fix row-60">
      <div class="col-sm-12">
        <div class="calendar-box-search">
          <div class="calendar-box-search-inner">
            <form class="rd-mailform rd-mailform_style-1 rd-mailform-inline-flex">
              <div class="form-wrap form-wrap_icon"> <label class="form-label-outside" for="event-date">Events In</label><span class="novi-icon form-icon form-wrap_icon__label-outside linear-icon-calendar-31"></span> <input class="form-input" id="event-date" type="text" name="name" placeholder="Date" data-time-picker="date"> </div>
              <div class="form-wrap form-wrap_icon"> <label class="form-label-outside" for="event-search">Search</label><span class="novi-icon form-icon form-wrap_icon__label-outside linear-icon-magnifier"></span> <input class="form-input" id="event-search" type="text" name="phone" placeholder="Search"> </div> <button class="button button-primary" type="submit">Find events</button>
            </form>
          </div>
          <div class="calendar-box-search-inner text-center">
            <h6><a href="#" data-target=".calendar-box-list-view" data-toggle="collapse">View As</a></h6>
            <ul class="calendar-box-list-view list-xxs">
              <li><span class="icon novi-icon linear-icon-calendar-full"></span>Month</li>
              <li><a href="event-list.html"><span class="icon novi-icon linear-icon-clipboard-text"></span>List</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <div class="rd-calendar">
          <div class="rdc-panel">
            <h3>Events for <span class="rdc-month"></span> <span class="rdc-fullyear"></span> </h3>
          </div>
          <div class="rdc-table"></div>
          <div class="rdc-events"><a class="rdc-events_close"></a>
            <ul>
              <li class="rdc-event" data-date="09/10/2019">
                <div class="thumbnail-classic"><img src="images/services-3-418x315.jpg" alt="" width="418" height="315">
                  <div class="caption">
                    <h6><a class="thumbnail-classic-title" href="single-event.html">The Power of Bootstrap Toolkit</a></h6> <time class="thumbnail-classic-time" datetime="2019">October 30, 2019 @ 8:00 am - November 5, 2019 @ 5:00 pm</time>
                    <p>We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…</p>
                  </div>
                </div>
              </li>
              <li class="rdc-event" data-date="09/14/2019">
                <div class="thumbnail-classic"><img src="images/services-2-418x315.jpg" alt="" width="418" height="315">
                  <div class="caption">
                    <h6><a class="thumbnail-classic-title" href="single-event.html">Great for Any Device</a></h6> <time class="thumbnail-classic-time" datetime="2019">October 30, 2019 @ 8:00 am - November 5, 2019 @ 5:00 pm</time>
                    <p>Use our Template to customize and update your website within seconds.</p>
                  </div>
                </div>
              </li>
              <li class="rdc-event" data-date="10/07/2019">
                <div class="thumbnail-classic"><img src="images/services-3-418x315.jpg" alt="" width="418" height="315">
                  <div class="caption">
                    <h6><a class="thumbnail-classic-title" href="single-event.html">The Power of Bootstrap Toolkit</a></h6> <time class="thumbnail-classic-time" datetime="2019">October 30, 2019 @ 8:00 am - November 5, 2019 @ 5:00 pm</time>
                    <p>We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…</p>
                  </div>
                </div>
              </li>
              <li class="rdc-event" data-date="10/15/2019">
                <div class="thumbnail-classic"><img src="images/services-2-418x315.jpg" alt="" width="418" height="315">
                  <div class="caption">
                    <h6><a class="thumbnail-classic-title" href="single-event.html">Template</a></h6> <time class="thumbnail-classic-time" datetime="2019">October 30, 2019 @ 8:00 am - November 5, 2019 @ 5:00 pm</time>
                    <p>Use our Template to customize and update your website within seconds.</p>
                  </div>
                </div>
              </li>
              <li class="rdc-event" data-date="11/14/2019">
                <div class="thumbnail-classic"><img src="images/services-3-418x315.jpg" alt="" width="418" height="315">
                  <div class="caption">
                    <h6><a class="thumbnail-classic-title" href="single-event.html">The Power of Bootstrap Toolkit</a></h6> <time class="thumbnail-classic-time" datetime="2019">October 30, 2019 @ 8:00 am - November 5, 2019 @ 5:00 pm</time>
                    <p>We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…</p>
                  </div>
                </div>
              </li>
              <li class="rdc-event" data-date="11/19/2019">
                <div class="thumbnail-classic"><img src="images/services-2-418x315.jpg" alt="" width="418" height="315">
                  <div class="caption">
                    <h6><a class="thumbnail-classic-title" href="single-event.html">Template</a></h6> <time class="thumbnail-classic-time" datetime="2019">October 30, 2019 @ 8:00 am - November 5, 2019 @ 5:00 pm</time>
                    <p>Use our Template to customize and update your website within seconds.</p>
                  </div>
                </div>
              </li>
              <li class="rdc-event" data-date="12/14/2019">
                <div class="thumbnail-classic"><img src="images/services-3-418x315.jpg" alt="" width="418" height="315">
                  <div class="caption">
                    <h6><a class="thumbnail-classic-title" href="single-event.html">The Power of Bootstrap Toolkit</a></h6> <time class="thumbnail-classic-time" datetime="2019">October 30, 2019 @ 8:00 am - November 5, 2019 @ 5:00 pm</time>
                    <p>We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…</p>
                  </div>
                </div>
              </li>
              <li class="rdc-event" data-date="12/19/2019">
                <div class="thumbnail-classic"><img src="images/services-2-418x315.jpg" alt="" width="418" height="315">
                  <div class="caption">
                    <h6><a class="thumbnail-classic-title" href="single-event.html">Template</a></h6> <time class="thumbnail-classic-time" datetime="2019">October 30, 2019 @ 8:00 am - November 5, 2019 @ 5:00 pm</time>
                    <p>Use our Template to customize and update your website within seconds.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="rdc-panel-nav"><a class="rdc-prev">Prev month</a>
            <h5 class="d-none d-md-block">Calendar Month Navigation</h5><a class="rdc-next">Next month</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-right"><a class="button button-black" href="#"> EXPORT MONTH'S EVENTS</a></div>
    </div>
  </div>
</section>