<section class="section novi-bg novi-bg-img section-xxl text-center bg-image-6">
  <div class="container nonstandart-post-header"><img class="rounded-circle" src="images/timeline-1-109x109.jpg" alt="" width="109" height="109">
    <p class="heading-4">by Brian Williamson</p>
    <h2>Getting to another level of design and functionality.</h2>
    <div class="post-meta">
      <div class="group">
        <div class="icon-list-wrap icon novi-icon icon-gray linear-icon-clock3"><a href="standard-post.html"> <time datetime="2019">Jan.20, 2019</time></a></div>
        <div class="icon-list-wrap icon-gray"><a href="standard-post.html">3 comment(s)</a></div>
        <div class="icon-list-wrap icon novi-icon icon-gray linear-icon-tag"><a href="standard-post.html">Theme</a></div>
        <ul class="list-inline-tag icon icon-list-wrap linear-icon-tags icon-gray">
          <li><a href="standard-post.html">Style</a></li>
          <li><a href="standard-post.html">Clean</a></li>
        </ul>
      </div>
    </div>
    <ul class="list-inline-sm">
      <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
      <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
      <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
      <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
      <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
      <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
    </ul>
  </div>
</section>