<section class="section novi-bg novi-bg-img section-lg bg-default">
  <div class="container">
    <div class="row row-50">
      <div class="col-md-6">
        <h3>Our Mission</h3>
        <p>We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Toolkit. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards.</p>
      </div>
      <div class="col-md-6">
        <h3>Our Vision</h3>
        <p>Unlike many other themes Monstroid<sup>2</sup> is built around user content but not vice versa. Thus you may be sure when you add your own texts and images the theme will look same cool and appealing.</p>
      </div>
    </div>
  </div>
</section>