<section class="section novi-bg novi-bg-img section-xl bg-default text-center">
  <div class="container">
    <h3>Our Story</h3>
    <div class="timeline-heading"><img class="rounded-circle" src="images/timeline-1-109x109.jpg" alt="" width="109" height="109">
      <h6>by Brian Williamson</h6>
    </div>
    <div class="row no-gutters timeline-variant-1">
      <div class="col-sm-12">
        <div class="timeline-inner-box view-animate"> <time datetime="2019">Jan.20, 2019</time>
          <h5><a class="timeline-title" href="standard-post.html">Advantages of HTML Templates</a></h5>
          <p>Our HTML templates can provide any business, small and big, with a good starting point of developing their image on the web.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="timeline-inner-box view-animate"> <time datetime="2019">Jan.20, 2019</time>
          <h5><a class="timeline-title" href="standard-post.html">A Wide Variety of Child Themes</a></h5>
          <p>This template has lots of child themes, which will satisfy even the most exquisite tastes of website owners worldwide.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="timeline-inner-box view-animate"> <time datetime="2019">Jan.20, 2019</time>
          <h5><a class="timeline-title" href="standard-post.html">Transforming Your Company Website</a></h5>
          <p>If your company needs something better than a simple website but has a strict budget, Monstroid is definitely what you need.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="timeline-inner-box view-animate"> <time datetime="2019">Jan.20, 2019</time>
          <h5><a class="timeline-title" href="standard-post.html">Professionally designed templates</a></h5>
          <p>All the HTML templates that we have here have had a vast team of professional designers sketching and working on them.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="timeline-inner-box view-animate"> <time datetime="2019">Jan.20, 2019</time>
          <h5><a class="timeline-title" href="standard-post.html">Creating Portfolio.</a></h5>
          <p>We recommend focusing on 4 most essential characteristics, each vital for your company’s to have an efficient and long-standing online presence!</p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="timeline-inner-box view-animate"> <time datetime="2019">Jan.20, 2019</time>
          <h5><a class="timeline-title" href="standard-post.html">Using Bootstrap Framework</a></h5>
          <p>Bootstrap Framework is a powerful tool, which enables any web developer with vast possibilities on creating attractive websites.</p>
        </div>
      </div>
    </div>
  </div>
</section>