<section class="section novi-bg novi-bg-img section-md bg-default">
  <div class="container">
    <div class="payment-box">
      <div class="form-wrap"> <label class="radio-inline"> <input class="radio-custom" name="input-group-radio" value="radio-1" type="radio">Cheque Payment </label> </div>
      <div class="payment-box-inner">
        <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
      </div>
    </div>
    <div class="payment-box">
      <div class="form-wrap"> <label class="radio-inline"> <input class="radio-custom" name="input-group-radio" value="radio-1" type="radio">PayPal </label><img src="images/checkout-1-319x110.png" alt="" width="319" height="110"> </div>
      <div class="payment-box-inner">
        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
      </div>
    </div>
    <div class="payment-box-button"> <button class="button button-primary" type="submit">Place order</button> </div>
  </div>
</section>