<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container-fluid">
    <div class="row row-xl-condensed row-30">
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="thumb thumb-classic">
          <figure class="thumb-classic__image"><img src="images/barbara-young-480x362.jpg" alt="" width="480" height="362"> </figure>
          <div class="thumb-classic__caption">
            <p class="thumb__title"><a href="team-member-profile.html">Barbara Young</a></p>
            <p class="thumb__subtitle">Creative Director</p>
            <p>Non-standard approaches and the most complicated cases – my mission is to create balance between functionality and convenience for users to get a top-notch product</p>
            <ul class="list-inline-sm thumb-corporate__list">
              <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="thumb thumb-classic">
          <figure class="thumb-classic__image"><img src="images/bryan-thompson-480x362.jpg" alt="" width="480" height="362"> </figure>
          <div class="thumb-classic__caption">
            <p class="thumb__title"><a href="team-member-profile.html">Bryan Thompson</a></p>
            <p class="thumb__subtitle">Developer</p>
            <p>Non-standard approaches and the most complicated cases – my mission is to create balance between functionality and convenience for users to get a top-notch product</p>
            <ul class="list-inline-sm thumb-corporate__list">
              <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="thumb thumb-classic">
          <figure class="thumb-classic__image"><img src="images/amanda-smith-480x362.jpg" alt="" width="480" height="362"> </figure>
          <div class="thumb-classic__caption">
            <p class="thumb__title"><a href="team-member-profile.html">Amanda Smith</a></p>
            <p class="thumb__subtitle">Marketing manager</p>
            <p>Non-standard approaches and the most complicated cases – my mission is to create balance between functionality and convenience for users to get a top-notch product</p>
            <ul class="list-inline-sm thumb-corporate__list">
              <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="thumb thumb-classic">
          <figure class="thumb-classic__image"><img src="images/brian-king-480x362.jpg" alt="" width="480" height="362"> </figure>
          <div class="thumb-classic__caption">
            <p class="thumb__title"><a href="team-member-profile.html">Brian King</a></p>
            <p class="thumb__subtitle">Director</p>
            <p>Non-standard approaches and the most complicated cases – my mission is to create balance between functionality and convenience for users to get a top-notch product</p>
            <ul class="list-inline-sm thumb-corporate__list">
              <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
              <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>