<section class="section novi-bg novi-bg-img section-lg bg-default text-center">
  <div class="container">
    <h3>Portfolio</h3>
    <div class="isotope-wrap row row-70">
      <div class="col-sm-12">
        <ul class="list-nav isotope-filters isotope-filters-horizontal">
          <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>
          <li><a data-isotope-filter="Category 1" data-isotope-group="gallery" href="#">Web Design</a></li>
          <li><a data-isotope-filter="Category 2" data-isotope-group="gallery" href="#">Web Development</a></li>
        </ul>
        <div class="isotope row" data-isotope-layout="fitRows" data-isotope-group="gallery">
          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="single-portfolio.html"><img src="images/portfolio-1-418x315.jpg" alt="" width="418" height="315"><span class="label-custom label-white">Album</span>
              <div class="caption"><span class="icon novi-icon hover-top-element linear-icon-folder-picture"></span>
                <ul class="list-inline-tag hover-top-element">
                  <li>Web Design</li>
                </ul>
                <p class="heading-5 hover-top-element">iStep Co.</p>
                <div class="divider"></div>
                <p class="small hover-bottom-element">Professional creative solutions.</p><span class="icon novi-icon arrow-right linear-icon-arrow-right"></span>
              </div>
            </a> </div>
          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="images/slider-slide-14-1920x1080.jpg" data-lightgallery="item">
              <figure><img src="images/portfolio-2-418x315.jpg" alt="" width="418" height="315"> </figure>
              <div class="caption"><span class="icon novi-icon hover-top-element linear-icon-picture"></span>
                <ul class="list-inline-tag hover-top-element">
                  <li>Web Design</li>
                </ul>
                <p class="heading-5 hover-top-element">Fabricator Ltd.</p>
                <div class="divider"></div>
                <p class="small hover-bottom-element">Professional creative solutions.</p><span class="icon novi-icon arrow-right linear-icon-plus"></span>
              </div>
            </a> </div>
          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="single-portfolio.html"><img src="images/portfolio-3-418x315.jpg" alt="" width="418" height="315"><span class="label-custom label-white">Album</span>
              <div class="caption"><span class="icon novi-icon hover-top-element linear-icon-folder-picture"></span>
                <ul class="list-inline-tag hover-top-element">
                  <li>Web Design</li>
                </ul>
                <p class="heading-5 hover-top-element">Fresh Market</p>
                <div class="divider"></div>
                <p class="small hover-bottom-element">Professional creative solutions.</p><span class="icon novi-icon arrow-right linear-icon-arrow-right"></span>
              </div>
            </a> </div>
          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="images/image-original-6-1200x905.jpg" data-lightgallery="item">
              <figure><img src="images/portfolio-4-418x315.jpg" alt="" width="418" height="315"> </figure>
              <div class="caption"><span class="icon novi-icon hover-top-element linear-icon-picture"></span>
                <ul class="list-inline-tag hover-top-element">
                  <li>Web Design</li>
                </ul>
                <p class="heading-5 hover-top-element">Accessories Inc.</p>
                <div class="divider"></div>
                <p class="small hover-bottom-element">Professional creative solutions.</p><span class="icon novi-icon arrow-right linear-icon-plus"></span>
              </div>
            </a> </div>
          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="single-portfolio.html"><img src="images/portfolio-5-418x315.jpg" alt="" width="418" height="315"><span class="label-custom label-white">Album</span>
              <div class="caption"><span class="icon novi-icon hover-top-element linear-icon-folder-picture"></span>
                <ul class="list-inline-tag hover-top-element">
                  <li>Web Development</li>
                </ul>
                <p class="heading-5 hover-top-element">CorpAdvise</p>
                <div class="divider"></div>
                <p class="small hover-bottom-element">Professional creative solutions.</p><span class="icon novi-icon arrow-right linear-icon-arrow-right"></span>
              </div>
            </a> </div>
          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="images/portfolio-orginal-6-1200x675.jpg" data-lightgallery="item">
              <figure><img src="images/portfolio-6-418x315.jpg" alt="" width="418" height="315"> </figure>
              <div class="caption"><span class="icon novi-icon hover-top-element linear-icon-picture"></span>
                <ul class="list-inline-tag hover-top-element">
                  <li>Web Development</li>
                </ul>
                <p class="heading-5 hover-top-element">GreenBiz</p>
                <div class="divider"></div>
                <p class="small hover-bottom-element">Professional creative solutions.</p><span class="icon novi-icon arrow-right linear-icon-plus"></span>
              </div>
            </a> </div>
          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="images/gallery-post-1-886x668.jpg" data-lightgallery="item">
              <figure><img src="images/portfolio-7-418x315.jpg" alt="" width="418" height="315"> </figure>
              <div class="caption"><span class="icon novi-icon hover-top-element linear-icon-picture"></span>
                <ul class="list-inline-tag hover-top-element">
                  <li>Web Development</li>
                </ul>
                <p class="heading-5 hover-top-element">InDivine</p>
                <div class="divider"></div>
                <p class="small hover-bottom-element">Professional creative solutions.</p><span class="icon novi-icon arrow-right linear-icon-plus"></span>
              </div>
            </a> </div>
          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="images/day-events-1-886x668.jpg" data-lightgallery="item">
              <figure><img src="images/portfolio-8-418x315.jpg" alt="" width="418" height="315"> </figure>
              <div class="caption"><span class="icon novi-icon hover-top-element linear-icon-picture"></span>
                <ul class="list-inline-tag hover-top-element">
                  <li>Web Development</li>
                </ul>
                <p class="heading-5 hover-top-element">InterFashion</p>
                <div class="divider"></div>
                <p class="small hover-bottom-element">Professional creative solutions.</p><span class="icon novi-icon arrow-right linear-icon-plus"></span>
              </div>
            </a> </div>
        </div>
      </div>
    </div>
  </div>
</section>