<section class="section novi-bg novi-bg-img section-xl bg-default text-center">
  <div class="container">
    <div class="row row-fix justify-content-md-center">
      <div class="col-md-10 col-lg-8 col-xl-6 group-counter">
        <div class="progress-linear progress-linear-modern">
          <div class="progress-header">
            <p>Website Update Progress</p><span class="progress-value">49</span>
          </div>
          <div class="progress-bar-linear-wrap">
            <div class="progress-bar-linear"></div>
          </div>
        </div>
        <div class="progress-linear progress-linear-modern">
          <div class="progress-header">
            <p>Template</p><span class="progress-value">29</span>
          </div>
          <div class="progress-bar-linear-wrap">
            <div class="progress-bar-linear"></div>
          </div>
        </div>
        <div class="progress-linear progress-linear-modern">
          <div class="progress-header">
            <p>Flexible and Multipurpose</p><span class="progress-value">86</span>
          </div>
          <div class="progress-bar-linear-wrap">
            <div class="progress-bar-linear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>