<section class="section novi-bg novi-bg-img section-md bg-default">
  <div class="container text-center">
    <h5>Related Products</h5>
    <div class="owl-carousel carousel-product" data-autoplay="true" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-stage-padding="0" data-loop="false" data-margin="50" data-mouse-drag="false" data-nav="true">
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span class="featured">Featured</span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">Adidas Originals Trefoil Logo Snapback Trucker Cap</a></h6>
            <p class="product-price"><span>48</span> </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
            <ul class="rating-list">
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-gray-4"></span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/ASOS-Sculpt-Me-Premium-Jeans-in-Clean-Black-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span class="new">New</span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Men</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">ASOS ‘Sculpt Me’ Premium Jeans in Clean Black</a></h6>
            <p class="product-price"><span>45</span> </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/ASOS-70s-Metal-Round-With-Flash-Flat-Lens_2-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span class="sale">Sale</span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Men</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">ASOS 70s Metal Round With Flash Flat Lens</a></h6>
            <p class="product-price sale-price"><span>45</span><span>56</span> </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
            <ul class="rating-list">
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-gray-4"></span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/ASOS-Cat-Eye-Sunglasses_2-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span></span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Men</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">ASOS Cat Eye Sunglasses</a></h6>
            <p class="product-price"><span>36</span> </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/ASOS-Denim-Shrunken-Jacket-In-Washed-Black_1-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span></span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">ASOS Denim Shrunken Jacket In Washed</a></h6>
            <p class="product-price"><span>16</span> </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/ASOS-Patch-Pocket-Woven-Shorts-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span></span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">ASOS Patch Pocket Woven Shorts</a></h6>
            <p class="product-price"><span>44</span> </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
            <ul class="rating-list">
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-gray-4"></span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/Boopacks-Mini-Boo-Backpack-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span></span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">Boopacks Mini Boo Backpack</a></h6>
            <p class="product-price"><span>34</span> </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-magic-wand"></span><span>Select options</span></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/Calvin-Klein-Iron-Strength-Bralette-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span></span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">Calvin Klein Iron Strength Bralette</a></h6>
            <p class="product-price"><span>32</span> </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-magic-wand"></span><span>Select options</span></a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="product product-grid">
          <div class="product-img-wrap"><img src="images/Cheap-Monday-Drift-High-Rise-Skinny-Ankle-Kick-Jeans_1-300x400.jpg" alt="" width="300" height="400">
            <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
            <div class="product-label-wrap"><span></span></div>
          </div>
          <div class="product-caption">
            <ul class="product-categories">
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Sport</a></li>
              <li><a href="#">Women</a></li>
            </ul>
            <h6 class="product-title"><a href="single-product.html">Cheap Monday Drift High Rise Skinny Ankle Kick Jeans</a></h6>
            <p class="product-price"><span>65</span> </p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-magic-wand"></span><span>Select options</span></a>
            <ul class="rating-list">
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
              <li><span class="icon novi-icon linear-icon-star icon-gray-4"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>