<section class="section video-bg-overlay context-dark">
    <!-- RD Video-->
    <div class="vide_bg novi-vide" data-vide-bg="video/video-lg" data-vide-options="posterType: jpg">
      <div class="section-xl text-center">
        <div class="container">
          <h2>Built by geeks & used by humans</h2>
          <h5 class="text-width-2 block-centered">Monstroid<sup>2</sup> aims to satisfy real needs of real projects. We've got a pack of tools for that.</h5>
          <div class="group-lg group-middle"><a class="button button-black" href="#section-see-features" data-custom-scroll-to="section-see-features">See Features</a><a class="button button-primary" href="//www.templatemonster.com/website-templates/monstroid2.html" target="_blank">Buy template</a></div>
        </div>
      </div>
    </div>
  </section>