<section class="text-center section-xxl fullwidth-page fullwidth-page_mod-1 bg-accent-gradient particles-js-wrap context-dark">
  <div id="particles-js"></div>
  <div class="container">
    <h2>Built by geeks</h2>
    <h5 class="text-width-2 block-centered">Monstroid<sup>2</sup> aims to satisfy real needs of real projects. We've got a pack of tools for that.</h5>
    <div class="group-lg group-middle"><a class="button button-black" href="#section-see-features" data-custom-scroll-to="section-see-features">See Features</a><a class="button button-primary" href="//www.templatemonster.com/website-templates/monstroid2.html" target="_blank">Buy template</a></div>
  </div>
</section>