<section class="section novi-section text-center">
  <div class="row row-fix no-gutters">
    <div class="col-lg-6 bg-accent section-xxl fullwidth-page fullwidth-page_mod-1 novi-bg novi-bg-img">
      <div class="col-12">
        <h2>Built by geeks</h2>
        <h5 class="text-width-2 block-centered">Monstroid<sup>2</sup> aims to satisfy real needs of real projects. We've got a pack of tools for that.</h5>
        <div class="group-lg group-middle"><a class="button button-black" href="#section-see-features" data-custom-scroll-to="section-see-features">See Features</a><a class="button button-primary" href="//www.templatemonster.com/website-templates/monstroid2.html" target="_blank">Buy template</a></div>
      </div>
    </div>
    <div class="col-lg-6 section-xxl bg-image fullwidth-page fullwidth-page_mod-1 novi-bg novi-bg-img" style="background-image: url(images/slider-slide-3-1920x980.jpg)"></div>
  </div>
</section>