<section class="section novi-bg novi-bg-img text-left section-xxl fullwidth-page fullwidth-page_mod-1 bg-image-2">
  <div class="container">
    <div class="row row-fix row-50 justify-content-center justify-content-xl-between">
      <div class="col-md-10 col-lg-6 col-xl-5">
        <h1>Monstroid²</h1>
        <p>Monstroid² boasts clean and crispy design, bulletproof layout consistence and intuitive navigation.</p>
        <div class="group-lg group-middle"><a class="button button-black" href="#section-see-features" data-custom-scroll-to="section-see-features">See Features</a><a class="button button-primary" href="//www.templatemonster.com/website-templates/monstroid2.html" target="_blank">Buy template</a></div>
      </div>
      <div class="col-md-10 col-lg-6">
        <div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/hhF-oZbI0lk"></iframe> </div>
      </div>
    </div>
  </div>
</section>