<section class="section novi-section">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-md-6">
        <article class="post-modern"><img src="images/home-modern-1-886x668.jpg" alt="" width="886" height="668">
          <div class="post-modern__inner">
            <ul class="list-inline-tag">
              <li><a href="#">Project</a></li>
              <li><a href="#">Style</a></li>
              <li><a href="#">Clean</a></li>
            </ul>
            <h5 class="post-modern__title"><a href="standard-post.html">10 Reasons to Buy Monstroid².</a></h5>
            <div class="post-modern__divider"></div>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="post-modern"><img src="images/home-modern-2-886x668.jpg" alt="" width="886" height="668">
          <div class="post-modern__inner">
            <ul class="list-inline-tag">
              <li><a href="#">Project</a></li>
              <li><a href="#">Style</a></li>
              <li><a href="#">Clean</a></li>
            </ul>
            <h5 class="post-modern__title"><a href="standard-post.html">Turning Your Site Into a Sales Machine.</a></h5>
            <div class="post-modern__divider"></div>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="post-modern"><img src="images/home-modern-3-886x668.jpg" alt="" width="886" height="668">
          <div class="post-modern__inner">
            <ul class="list-inline-tag">
              <li><a href="#">Project</a></li>
              <li><a href="#">Style</a></li>
              <li><a href="#">Clean</a></li>
            </ul>
            <h5 class="post-modern__title"><a href="standard-post.html">Installing Your First HTML Template</a></h5>
            <div class="post-modern__divider"></div>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="post-modern"><img src="images/home-modern-4-886x668.jpg" alt="" width="886" height="668">
          <div class="post-modern__inner">
            <ul class="list-inline-tag">
              <li><a href="#">Project</a></li>
              <li><a href="#">Style</a></li>
              <li><a href="#">Clean</a></li>
            </ul>
            <h5 class="post-modern__title"><a href="standard-post.html">100% Satisfaction Guaranteed</a></h5>
            <div class="post-modern__divider"></div>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="post-modern"><img src="images/home-modern-5-886x668.jpg" alt="" width="886" height="668">
          <div class="post-modern__inner">
            <ul class="list-inline-tag">
              <li><a href="#">Project</a></li>
              <li><a href="#">Style</a></li>
              <li><a href="#">Clean</a></li>
            </ul>
            <h5 class="post-modern__title"><a href="standard-post.html">Responsive &amp; Retina Ready</a></h5>
            <div class="post-modern__divider"></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>