<section class="section novi-bg novi-bg-img section-lg bg-default">
  <div class="container">
    <div class="row row-fix row-60 flex-lg-row-reverse">
      <div class="col-lg-9 section-divided__main section-divided__main-left">
        <div class="section-md">
          <div class="filter-shop-box">
            <p>Showing 1–12 of 15 results</p>
            <div class="form-wrap"> <select class="form-input select-filter" data-placeholder="Default sorting" data-minimum-results-for-search="Infinity">
                <option>Default sorting</option>
                <option value="2">Sort by popularity</option>
                <option value="3">Sort by average rating</option>
                <option value="4">Sort by newness</option>
                <option value="5">Sort by price: low to high</option>
                <option value="6">Sort by price: high to low</option>
              </select> </div>
          </div>
          <div class="row justify-content-sm-center row-70">
            <div class="col-sm-10 col-md-12">
              <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                <div class="unit-left product-img-wrap"> <img src="images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-418x560.jpg" alt="" width="418" height="560">
                  <div class="product-label-wrap"><span class="featured">Featured</span></div>
                </div>
                <div class="unit-body product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h5 class="product-title"><a href="single-product.html">Adidas Originals Trefoil Logo Snapback Trucker Cap</a></h5>
                  <p class="product-price"><span>48</span> </p>
                  <ul class="rating-list">
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-gray-4"></span></li>
                  </ul>
                  <p class="product-text">Fashion has always been so temporary and uncertain. You can’t keep up with it.This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies.</p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                  <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-12">
              <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                <div class="unit-left product-img-wrap"> <img src="images/Undiz-Catchiz-Push-Up-Racerback-Bra_1-418x560.jpg" alt="" width="418" height="560">
                  <div class="product-label-wrap"><span class="new">New</span></div>
                </div>
                <div class="unit-body product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h5 class="product-title"><a href="single-product.html">Undiz Catchiz Push Up Racerback Bra</a></h5>
                  <p class="product-price"><span>17</span> </p>
                  <ul class="rating-list">
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-gray-4"></span></li>
                  </ul>
                  <p class="product-text">This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies.Therefore being fashionable costs a lot of money.</p><a class="button-gray-light-outline button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-magic-wand"></span><span>Select options</span></a>
                  <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-12">
              <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                <div class="unit-left product-img-wrap"> <img src="images/TALL-Denim-Shrunken-Jacket-in-Mid-Blue-Wash-418x560.jpg" alt="" width="418" height="560">
                  <div class="product-label-wrap"><span class="sale">Sale</span></div>
                </div>
                <div class="unit-body product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h5 class="product-title"><a href="single-product.html">TALL Denim Shrunken Jacket in Mid Blue Wash</a></h5>
                  <p class="product-price sale-price"><span>12</span><span>17</span> </p>
                  <ul class="rating-list">
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-gray-4"></span></li>
                  </ul>
                  <p class="product-text">We are lucky to have an opportunity to buy qualitative, fashionable and affordable clothes.Obviously there is nothing wrong about it because fashion satisfies our willingness to be attractive.</p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                  <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-12">
              <div class="product product-list unit flex-column flex-md-row unit-spacing-lg">
                <div class="unit-left product-img-wrap"> <img src="images/Nike-Swoosh-Cap-418x560.jpg" alt="" width="418" height="560">
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="unit-body product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h5 class="product-title"><a href="single-product.html">Nike Swoosh Cap</a></h5>
                  <p class="product-price"><span>22</span> </p>
                  <ul class="rating-list">
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-secondary-4"></span></li>
                    <li><span class="icon novi-icon linear-icon-star icon-gray-4"></span></li>
                  </ul>
                  <p class="product-text">Our product is universal because it suits different customers with different demands.Fashion has always been so temporary and uncertain.</p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>Add to cart</span></a>
                  <div class="product-icon-wrap"><span class="icon novi-icon icon-md linear-icon-heart" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist"></span><span class="icon novi-icon icon-md linear-icon-balance" data-toggle="tooltip" data-placement="top" data-original-title="Add to Compare"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-md">
          <nav>
            <ul class="pagination-classic">
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a class="icon novi-icon linear-icon-arrow-right" href="#"></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3 section-divided__aside section__aside-left group-shop">
        <div class="section-md">
          <h5>Categories</h5>
          <ul class="small list">
            <li><a href="#">Clothing</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Hats</a></li>
          </ul>
        </div>
        <div class="section-md">
          <h5>Filter By Color</h5>
          <ul class="small list">
            <li><a href="#">Black (9)</a></li>
            <li><a href="#">Blue (3)</a></li>
            <li><a href="#">Brown (5)</a></li>
            <li><a href="#">Gray (7)</a></li>
            <li><a href="#">White (6)</a></li>
          </ul>
        </div>
        <div class="section-md">
          <h5>Filter By Price</h5>
          <div class="rd-range-wrap">
            <div class="rd-range-inner"><span>Price: </span><span class="rd-range-input-value-1"></span><span>—</span><span class="rd-range-input-value-2"></span></div>
            <div class="rd-range" data-min="10" data-max="500" data-start="[75, 244]" data-step="1" data-tooltip="true" data-placement="top" data-min-diff="10" data-input=".rd-range-input-value-1" data-input-2=".rd-range-input-value-2"></div>
          </div><a class="button button-gray-light-outline" href="#">Filter</a>
        </div>
      </div>
    </div>
  </div>
</section>