<section class="section novi-bg novi-bg-img bg-default section-xl text-center">
  <div class="container">
    <div class="row row-fix justify-content-sm-center">
      <article class="col-md-10 col-xl-8 post-event section-divided__main">
        <section class="post-event-single section-md">
          <h3>The Power of Bootstrap Toolkit</h3> <time class="events-single-time" datetime="2019">September 28, 2019 @ 8:00 am - October 5, 2019 @ 5:00 pm</time><span class="button button-lg button-gray-light-outline">$100</span>
          <div class="post-event-single-body text-md-left"><img src="images/day-events-1-886x668.jpg" alt="" width="886" height="668">
            <p>We’ve made a huge effort to provide you with the extreme power of site building via Bootstrap Framework. It is one of the most modern and flexible solutions for everyone who wants their website working properly and according to the latest standards. With Bootstrap, your website will look attractive and informative…</p>
          </div>
          <div class="group"><a class="button button-black" href="#">GOOGLE CALENDAR</a><a class="button button-black" href="#">ICAL EXPORT</a></div>
        </section>
        <section class="text-md-left section-md">
          <div class="row">
            <div class="col-md-6">
              <h5>Details</h5>
              <ul class="list-xs">
                <li>
                  <dl class="list-terms-minimal"> <dt>Start</dt>
                    <dd> <time datetime="2019">September 28, 2019 @ 8:00 am</time> </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal"> <dt>End</dt>
                    <dd> <time datetime="2019">October 5, 2019 @ 5:00 pm</time> </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal"> <dt>Cost</dt>
                    <dd>$100</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal"> <dt>Event Category</dt>
                    <dd>Design</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal"> <dt>Event Tags</dt>
                    <dd>events</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal"> <dt>Website</dt>
                    <dd><a href="http://www.demolink.org">http://www.demolink.org</a></dd>
                  </dl>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>Organizer</h5>
              <ul class="list-xs">
                <li>Brian Adams</li>
                <li>
                  <dl class="list-terms-minimal"> <dt>Phones</dt>
                    <dd><a href="tel:#">(800) 123-0045</a>; <a href="tel:#">(800) 123-0046</a> </dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="text-md-left section-md">
          <h5>Venue</h5>
          <p>Big Theatre 378, Main Street San-Francisco, CA United States <a href="#">+ Google Map</a> </p>
        </section>
      </article>
    </div>
  </div>
</section>