<section class="section novi-bg novi-bg-img section-xl bg-default text-center">
  <div class="container">
    <div class="row row-fix row-30 justify-content-lg-center">
      <div class="col-lg-11 col-xl-9">
        <h3>Represent Your Staff</h3>
        <p>You can easily display the members of your staff, team or workforce. Within Monstroid² template you can present your team members using the perfectly looking and easy-to-use interface with special design and multiple styling options.</p>
      </div>
    </div>
    <div class="row row-50 offset-top-1">
      <div class="col-md-6 col-lg-4">
        <div class="thumb thumb-corporate">
          <div class="thumb-corporate__main"><img src="images/brian-king-480x362.jpg" alt="" width="480" height="362">
            <div class="thumb-corporate__overlay">
              <ul class="list-inline-sm thumb-corporate__list">
                <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="thumb-corporate__caption">
            <p class="thumb__title"><a href="team-member-profile.html">Brian King</a></p>
            <p class="thumb__subtitle">Director</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="thumb thumb-corporate">
          <div class="thumb-corporate__main"><img src="images/amanda-smith-480x362.jpg" alt="" width="480" height="362">
            <div class="thumb-corporate__overlay">
              <ul class="list-inline-sm thumb-corporate__list">
                <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="thumb-corporate__caption">
            <p class="thumb__title"><a href="team-member-profile.html">Amanda Smith</a></p>
            <p class="thumb__subtitle">Marketing manager</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="thumb thumb-corporate">
          <div class="thumb-corporate__main"><img src="images/george-nelson-418x315.jpg" alt="" width="418" height="315">
            <div class="thumb-corporate__overlay">
              <ul class="list-inline-sm thumb-corporate__list">
                <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
                <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="thumb-corporate__caption">
            <p class="thumb__title"><a href="team-member-profile.html">George Nelson</a></p>
            <p class="thumb__subtitle">Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>