<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container">
    <!-- Profile Corporate-->
    <article class="profile-corporate"><img class="profile-corporate__image" src="images/brian-king-886x666.jpg" alt="" width="886" height="666">
      <div class="profile-corporate__caption">
        <p class="profile-corporate__title">Brian King</p>
        <p class="profile-corporate__subtitle">Director</p>
        <p>Brian is the heart and soul of our team, and his responsibilities involve overseeing all the current projects our designers and developers have as well as managing our work and leading the negotiations with our partners.</p>
        <ul class="list-inline-sm profile-corporate__list">
          <li><a class="icon-sm fa-facebook icon novi-icon" href="#"></a></li>
          <li><a class="icon-sm fa-twitter icon novi-icon" href="#"></a></li>
          <li><a class="icon-sm fa-google-plus icon novi-icon" href="#"></a></li>
          <li><a class="icon-sm fa-vimeo icon novi-icon" href="#"></a></li>
          <li><a class="icon-sm fa-youtube icon novi-icon" href="#"></a></li>
          <li><a class="icon-sm fa-pinterest-p icon novi-icon" href="#"></a></li>
        </ul>
      </div>
    </article>
  </div>
</section>