<section class="section novi-bg novi-bg-img section-xl bg-default">
  <div class="container">
    <div class="owl-carousel" data-autoplay="true" data-items="1" data-stage-padding="15" data-loop="true" data-margin="30" data-dots="true">
      <div class="item">
        <div class="quote-default">
          <div class="quote-default__image"><img src="images/testimonials-1-120x120.jpg" alt="" width="120" height="120"> </div>
          <div class="quote-default__text">
            <p class="q">Since I’m not a real pro in web design, I love to use these ready-made and beautifully looking templates. They are available at very affordable prices and they save you a lot of time, and deliver from a lot of sweat and tears!</p>
          </div>
          <p class="quote-default__cite">Jane Smith</p>
        </div>
      </div>
      <div class="item">
        <div class="quote-default">
          <div class="quote-default__image"><img src="images/testimonials-2-120x120.jpg" alt="" width="120" height="120"> </div>
          <div class="quote-default__text">
            <p class="q">This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!</p>
          </div>
          <p class="quote-default__cite">James Wilson</p>
        </div>
      </div>
      <div class="item">
        <div class="quote-default">
          <div class="quote-default__image"><img src="images/testimonials-3-120x120.jpg" alt="" width="120" height="120"> </div>
          <div class="quote-default__text">
            <p class="q">It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!</p>
          </div>
          <p class="quote-default__cite">Sam Lee</p>
        </div>
      </div>
    </div>
  </div>
</section>