<section class="section novi-bg novi-bg-img section-lg bg-gray-lighter text-center">
  <div class="container">
    <h3>Share Your Company Testimonials</h3>
    <div class="owl-carousel owl-carousel-spacing-1" data-autoplay="true" data-items="1" data-stage-padding="15" data-loop="true" data-margin="30" data-nav="true">
      <div class="item">
        <div class="quote-default"><img src="images/quote-31x24.png" alt="" width="31" height="24">
          <div class="quote-default__text">
            <p class="q">I love to use your ready-made and beautifully looking templates. They are available at very affordable prices and they save me a lot of time, and deliver from a lot of sweat and tears!</p>
          </div>
          <p class="quote-default__cite">Jane Smith</p>
        </div>
      </div>
      <div class="item">
        <div class="quote-default"><img src="images/quote-31x24.png" alt="" width="31" height="24">
          <div class="quote-default__text">
            <p class="q">This template has everything I was looking for my business website to have. From easy-to-customize pages to flawlessly working web tools, Monstroid² is my number one choice!</p>
          </div>
          <p class="quote-default__cite">James Wilson</p>
        </div>
      </div>
      <div class="item">
        <div class="quote-default"><img src="images/quote-31x24.png" alt="" width="31" height="24">
          <div class="quote-default__text">
            <p class="q">It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated, thank you!</p>
          </div>
          <p class="quote-default__cite">Sam Lee</p>
        </div>
      </div>
    </div>
  </div>
</section>