<section class="section novi-bg novi-bg-img section-lg">
  <div class="container">
    <ul class="list-md">
      <li>
        <h1>H1 Heading</h1>
        <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
      </li>
      <li>
        <h2>H2 Heading</h2>
        <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
      </li>
      <li>
        <h3>H3 Heading</h3>
        <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
      </li>
      <li>
        <h4>H4 Heading</h4>
        <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
      </li>
      <li>
        <h5>H5 Heading</h5>
        <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
      </li>
      <li>
        <h6>H6 Heading</h6>
        <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
      </li>
    </ul>
  </div>
</section>