<section class="section parallax-container parallax-header bg-gray-lighter" data-parallax-img="images/parallax-08.jpg">
  <div class="parallax-content">
    <div class="parallax-header__inner">
      <div class="parallax-header__content">
        <div class="container">
          <div class="row row-fix justify-content-sm-center">
            <div class="col-md-10 col-xl-8">
              <h2 class="text-width-1 block-centered">We are proud of our customers</h2>
              <p>We work with an extensive range of companies, both domestic and international. They require impressive web design, which Monstroid² is ready to give.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>