<section class="section novi-bg novi-bg-img section-md bg-default">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5>Your order</h5>
        <div class="table-responsive">
          <table class="table-checkout">
            <thead>
              <tr>
                <th>Product</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h6><a class="thumbnail-classic-title" href="single-product.html">Adidas Originals Trefoil Logo Snapback Trucker Cap</a></h6>
                </td>
                <td>
                  <div class="product-price"><span>45</span></div>
                </td>
              </tr>
              <tr>
                <td>
                  <h6><a class="thumbnail-classic-title" href="single-product.html">ASOS ‘Sculpt Me’ Premium Jeans in Clean Black</a></h6>
                </td>
                <td>
                  <div class="product-price"><span>45</span></div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="text-md-right" colspan="2">
                  <dl class="list-terms-minimal"> <dt>Subtotal</dt>
                    <dd>$90</dd>
                  </dl>
                  <dl class="heading-5 list-terms-minimal"> <dt>Total</dt>
                    <dd>$90</dd>
                  </dl>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>