extends  ../_skeleton

block variables
  - var activeIndex = 0
  - var pageName = 'Footer minimal'

block page 
  // Page header
  include ../sections/_header-default

  // Our History
  section.section-md.bg-gray-lighter
    .container
      .row.justify-content-md-center.row-30.row-md-50
        .col-md-11.col-lg-10.col-xl-6
          h4.heading-decorated Our History
          p.heading-6.text-width-1 Our construction company has been founded 10 years ago, at the very peak of the building frenzy in the US...
          p Since then we've built hundreds of commercial, government and private buildings and facilities. It may not sound like a lot, but if you estimate the manpower, working hours, materials, planning and correlating that were all involved in completing each separate project, then our productivity is immense! 
          a.button.button-primary(href='about.html') Read more
        .col-md-11.col-lg-10.col-xl-6
          +jpg('home-1-652x491')
  ='\n'
  
  include ../sections/_section-cta-1
    
  // Page Footer
  include ../sections/_footer-minimal

