-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900",
		logo = {
			default: 'logo-default-269x100.png',
			inverse: 'logo-inverse-269x100.png',
			name: 'Plate'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#71B85F'
		},
		menu = [
			{
				title: 'Programs',
				link: '#programs'
			},
			{
				title: 'About',
				link: '#about'
			},
			{
				title: 'Clients',
				link: '#clients'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
