//- Thumbnail flickr
mixin flickr-item
  .flickr-item(data-type="flickr-item")
    a.thumb-minimal.thumb-minimal_square(href='#', data-image_b="href", data-lightgallery='item')
      figure
        img(src='images/_blank.png', data-image_n="src" data-title="alt", width='320', height='320', alt='')
      .thumb-minimal__overlay
