<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Single post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css2?family=Lora&amp;family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="preloader-container"><span></span><span></span><span></span></div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-shadow">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xl-stick-up-offset="16px" data-xxl-stick-up-offset="16px" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-497x100.png" alt="" width="248" height="50" loading="lazy"/><img class="brand-logo-light" src="images/logo-inverse-497x100.png" alt="" width="248" height="50" loading="lazy"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">About</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="rooms.html">Rooms</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="single-room.html">Single room</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="offers.html">Offers</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="blog.html">Blog</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item active"><a class="rd-dropdown-link" href="single-post.html">Single post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title">Pages 1</h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="single-room.html">Single room</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy policy</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title">Pages 2</h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid system</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title">Pages 3</h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and accordions</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <h6 class="rd-megamenu-title">Pages 4</h6>
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503.html">503</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="coming-soon.html">Coming soon</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li class="active">Single post</li>
          </ul>
        </div>
      </section>
      <!-- Post-->
      <section class="section section-lg bg-default text-center text-md-start">
        <div class="container text-center">
          <div class="row">
            <div class="col-12">
              <h2>Best Days to Stay in Los Angeles</h2>
              <div class="post-single-meta">
                <div class="post-single-meta-item">By <span class="text-primary">admin</span>
                </div>
                <div class="post-single-meta-item">Posted February 20, 2023</div>
                <div class="post-single-meta-item"><span class="text-primary">0 Comment(s)</span></div>
              </div>
            </div>
          </div>
        </div><img class="img-post-wide img-wide" src="images/single-post-01-1400x430.jpg" alt="" width="1400" height="430" loading="lazy"/>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="post-single-section post-single-content">
                <p>With its overall history spanning more than 200 years, Indianapolis has a lot of long-established venues, with restaurants, bars, and pubs being at the very top of that list.</p>
                <p>We’ve decided to help our Hotel’s guest, who may be visiting the city for the first time in the intricate process of choosing where to eat and drink.</p>
                <h4>AN ULTIMATE LIST OF THE CITY’S VENUES LOOKS LIKE THIS:</h4>
                <h4>Cafe Patachou</h4>
                <p>This contender, located at the city’s airport offers a wide choice of organic dishes, with a big emphasis put on vegetarian and gluten free meals...</p>
                <h4>St. Elmo Steak House</h4>
                <p>When visiting a typical farming Midwest state like Indiana, enjoying a steak and fried farm vegetables on the side would make perfect sense!</p><img src="images/single-post-02-770x766.jpg" alt="" width="770" height="766" loading="lazy"/>
                <h4>Repeal Restaurant</h4>
                <p>Being one of the oldest bars & restaurants in the city and serving as a main bootlegging venue during the Prohibition era, this one has a lot of beverages and burgers to offer!</p>
                <h4>Shapiro’s Delicatessen</h4>
                <p>A traditionally Italian deli place, also serving some Jewish desserts as well, Shapiro’s is by far the Indy’s top rated bakery of them all!</p>
                <h4>Scotty’s Brewhouse</h4>
                <p>Good craft & draft beer, on par with incredible meat burgers and steaks, will make your visit worthwhile and yummy!</p>
              </div>
              <div class="post-single-section">
                <div class="post-single-author"><img class="post-single-author-img" src="images/single-post-03-140x140.jpg" alt="" width="140" height="140" loading="lazy"/>
                  <h4 class="post-single-author-title"><a href="#">ADMIN</a></h4>
                </div>
              </div>
              <div class="post-single-section">
                <div class="post-single-pager">
                  <div class="post-single-pager-item">
                    <div class="post-single-pager-arrow mdi mdi-chevron-left"></div>
                    <div class="post-single-pager-body">
                      <div class="post-single-pager-subtitle">Previous</div>
                      <h4 class="post-single-pager-title"><a href="single-post.html">Top 3 Hotels for Families with Kids</a></h4>
                    </div>
                  </div>
                  <div class="post-single-pager-item">
                    <div class="post-single-pager-body">
                      <div class="post-single-pager-subtitle">Next</div>
                      <h4 class="post-single-pager-title"><a href="single-post.html">Top 3 Hotels for Families with Kids</a></h4>
                    </div>
                    <div class="post-single-pager-arrow mdi mdi-chevron-right"></div>
                  </div>
                </div>
              </div>
              <div class="post-single-section">
                <h4>Leave a Reply</h4>
                <p class="post-single-offset-1">Your email address will not be published. Required fields are marked*</p>
                <form class="post-single-form text-start">
                  <div class="form-wrap">
                    <label class="form-label" for="footer-name">Name</label>
                    <input class="form-input" id="footer-name" type="text" name="name" data-constraints="@Required">
                  </div>
                  <div class="form-wrap">
                    <label class="form-label" for="footer-phone">Phone</label>
                    <input class="form-input" id="footer-phone" type="text" name="phone" data-constraints="@Required @Numeric">
                  </div>
                  <div class="form-wrap">
                    <label class="form-label" for="footer-email">E-Mail</label>
                    <input class="form-input" id="footer-email" type="email" name="email" data-constraints="@Required @Email">
                  </div>
                  <div class="form-wrap">
                    <label class="form-label" for="footer-message">Message</label>
                    <textarea class="form-input" id="footer-message" name="message" data-constraints="@Required"></textarea>
                  </div>
                  <div class="form-button text-center">
                    <button class="btn btn-primary btn-ujarak" type="submit">Submit comment</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="section footer text-center">
        <div class="container">
          <div class="footer-divider"></div>
          <div class="footer-inner">
            <div class="row row-20 align-items-center justify-content-between">
              <div class="col-md-auto">
                <p class="rights"><span class="copyright-year"></span><span> </span><span>&copy;.</span><span> </span><span>Norliva</span><span>. All Right Reserved | </span><a href="privacy-policy.html">Privacy Policy</a></p>
              </div>
              <div class="col-md-auto">
                <div class="list-social"><a class="list-social-icon mdi mdi-facebook" href="#"></a><a class="list-social-icon mdi mdi-twitter" href="#"></a><a class="list-social-icon mdi mdi-instagram" href="#"></a><a class="list-social-icon mdi mdi-youtube-play" href="#"></a><a class="list-social-icon mdi mdi-pinterest" href="#"></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>