+slider-blog({
  class: 'carousel-slider-blog-post',
  items: [
    {
      original_img: 'gallery-post-1-886x668',
      img_thumb: 'gallery-post-1-886x668'
    },
    {
      original_img: 'gallery-post-2-886x668',
      img_thumb: 'gallery-post-2-886x668'
    },
    {
      original_img: 'gallery-post-3-886x668',
      img_thumb: 'gallery-post-3-886x668'
    }
  ]
})