-
	var
	getTemplateLink = '//www.templatemonster.com/website-templates/monstroid2.html',
	brandName = 'LoanOffer',
	logoDefault = 'logo-249x56',
	logoInverse = 'logo-inverse-249x56',
	logoInverse2 = 'logo-inverse2-174x32',
	seeFeaturesLink = 'section-see-features',
	postLink = 'standard-post.html',
	postSlider = 'gallery-post.html',
	postVideo = 'video-post.html', 
	blogPostLink = 'link-post.html',
	postQuote = 'quote-post.html',
	postAudio = 'audio-post.html', 
	postImage = 'image-post.html',
	videoSrc = '//www.youtube.com/embed/ccuQoF0vKYU',
	teamMember = 'team-member-profile.html',
	menu = [
		{
			title: '',
			subtitle: 'Text',
			link: '#home'
		},
		{
			title: 'why us',
			subtitle: 'Text',
			link: '#why-us'
		},
		{
			title: 'steps',
			subtitle: 'Text',
			link: '#steps'
		},
		{
			title: 'testimonials',
			subtitle: 'Text',
			link: '#testimonials'
		},
		{
			title: 'partners',
			subtitle: 'Text',
			link: '#partners'
		},
		{
			title: 'contact',
			subtitle: 'Text',
			link: '#contact'
		},
		{
			title: 'Pages',
			subtitle: 'Text',
			link: '#',
			dropdown: [
				{
					title: 'Static Elements',
					link: '#',
					dropdown: [
						{ 
							title: 'Accordion',
							link: 'accordion.html'
						},
						{
							title: 'Animated Counter',
							link: 'animated-counter.html'
						},
						{
							title: 'Buttons',
							link: 'buttons.html'
						},
						{
							title: 'Circles Counter',
							link: 'circles-counter.html'
						},
						{
							title: 'Countdown',
							link: 'countdown.html'
						},
						{
							title: 'Number Counter',
							link: 'number-counter.html'
						},
						{
							title: 'Pricing Table',
							link: 'pricing-table.html'
						},
						{
							title: 'Tabs',
							link: 'tabs.html'
						}
					]
				},
				{
					title: 'Dynamic Elements',
					link: '#',
					dropdown: [
						{
							title: 'Coming Soon',
							link: 'coming-soon.html'
						},
						{
							title: 'Privacy Policy',
							link: 'privacy-policy.html'
						},
						{
							title: 'Search results',
							link: 'search-results.html'
						},
						{
							title: 'Testimonials', 
							link: 'testimonials.html'
						}
					]
				},
				{
					title: 'Post Formats',
					link: '#',
					dropdown: [
						{
							title: 'Image Post',
							link: 'image-post.html'
						},
						{
							title: 'Gallery post',
							link: 'gallery-post.html'
						},
						{
							title: 'Video Post',
							link: 'video-post.html'
						},
						{
							title: 'Standard Post',
							link: 'standard-post.html'
						},
						{
							title: 'Link Post',
							link: 'link-post.html'
						},
						{ 
							title: 'Audio Post',
							link: 'audio-post.html'
						},
						{
							title: 'Quote post',
							link: 'quote-post.html'
						}
					]
				},
				{
					title: 'Blog Layouts',
					link: '#',
					dropdown: [
						{
							title: 'Classic Blog',
							link: 'classic-blog.html'
						},
						{
							title: 'Grid Blog',
							link: 'grid-blog.html'
						},
						{
							title: 'Masonry Blog',
							link: 'masonry-blog.html'
						},
						{
							title: 'Justify Blog',
							link: 'justify-blog.html'
						}
					]
				},
				{
					title: 'Sidebar',
					link: '#',
					dropdown: [
						{
							title: 'Left Sidebar',
							link: 'left-sidebar.html'
						},
						{ 
							title: 'Right Sidebar',
							link: 'right-sidebar.html'
						},
						{
							title: 'No Sidebar',
							link: 'no-sidebar.html'
						}
					]
				},
				{
					title: 'Headers',
					link: '#',
					dropdown: [
						{
							title: 'Header Default',
							link: 'header-default.html'
						},
						{
							title: 'Header Transparent',
							link: 'header-transparent.html'
						},
						{
							title: 'Header Modern',
							link: 'header-modern.html'
						}
					]
				},
				{
					title: 'Footers',
					link: '#',
					dropdown: [
						{
							title: 'Footer Corporate',
							link: 'footer-corporate.html'
						},
						{
							title: 'Footer Minimal',
							link: 'footer-minimal.html'
						},
						{
							title: 'Footer Modern',
							link: 'footer-modern.html'
						}
					]
				},
				{
					title: 'Typography',
					link: 'typography.html' 
				},
				{
					title: '404 Page',
					link: '404-page.html'  
				}
			]
		}
	]
