//Blog
section.section.section-lg
	.container
		.row.row-50.justify-content-center.no-gutters
			.col-12.text-center
				h2.text-uppercase Our Blog
			.col-xl-4.col-bordered.col-lg-6.col-sm-10.col-12.fadeInLeft.wow(data-wow-delay='.2s')
				.post-classic
					.post-preview
						+png("post-img-1")
					.post-title
						h4: a(href="#") Start Walking and Improve Your Health
					.post-description Walking has several benefits for your health including preventing heart disease. Walking also addresses a lot of risk factors...
					a(href="#").button.button-primary.button-md read more
					.post-date JUL 15
						span
						| 2018
			.col-xl-4.col-bordered.col-lg-6.col-sm-10.col-12.wow.fadeInUp(data-wow-delay='.3s')
				.post-classic
					.post-preview
						+png("post-img-2")
					.post-title
						h4: a(href="#") Mistakes to Avoid When Doing Squats
					.post-description Squats are a simple exercise for all fitness levels. Here are some tips to ensure you are practicing the correct technique when...
					a(href="#").button.button-primary.button-md read more
					.post-date JUL 10
						span
						| 2018
			.col-xl-4.col-bordered.col-lg-6.col-sm-10.col-12.wow.fadeInRight(data-wow-delay='.2s')
				.post-classic
					.post-preview
						+png("post-img-3")
					.post-title
						h4: a(href="#") Keeping Your Fitness Goals on Track at Work
					.post-description Long hours, demanding clients and deadlines can distract you from your health and fitness goals during work hours. Here...
					a(href="#").button.button-primary.button-md read more
					.post-date JUL 5
						span
						| 2018
