section.section.counters-section
	.container
		.row.row-30.justify-content-center.border-classic.border-classic-big
			.col-sm-6.col-md-5.col-lg-3.wow.fadeInLeft(data-wow-delay='.3s')
				+counter-creative({
					number: '130',
					title: 'Clients'
				})
			.col-sm-6.col-md-5.col-lg-3.wow.fadeInUp
				+counter-creative({
					number: '25',
					title: 'Coaches'
				})
			.col-sm-6.col-md-5.col-lg-3.wow.fadeInUp
				+counter-creative({
					number: '09',
					title: 'awards'
				})
			.col-sm-6.col-md-5.col-lg-3.wow.fadeInRight(data-wow-delay='.3s')
				+counter-creative({
					number: '25',
					title: 'Groups'
				})