footer.section.footer-classic.context-light
	.container
		.row.row-30.justify-content-center
			.col-md-4.col-sm-6
				+logo
				ul
					li Mon-Fri: 8am – 7pm
					li Sat-Sun: 9am – 5pm
			.col-md-4.col-sm-6
				h6 Address
				ul
					li 8439 Pierce Court
					li Sacramento, CA 95820
					li
						a.map-link(href="#") Find us on map
			.col-md-4.col-sm-6
				.centered-content
					h6 get in touch
					ul.contact-links
						li
							span Phone
							a(href="tel:#") 1-800-123-1234
						li
							span E-Mail
							a(href="mailto:#") Info@demolink.org
	.devider
		hr
	.container
		.row.row-30.justify-content-xl-between.justify-content-center.flex-column-reverse.flex-md-row
			.col-12.col-md-7
				+rights
			.col-12.col-md-4
				.centered-content
					ul.social-links
						li
							a.icon.mdi.mdi-facebook(href='#')
						li
							a.icon.mdi-instagram.mdi(href='#')
						li
							a.icon.icon-sm.mdi.mdi-youtube-play(href='#')

