section.section.section-lg.bg-gray-lighten#gallery(data-type="anchor")
	.container
		.gallery-wrap
			.floating-items(data-lightgallery='group')
				.item-1.wow.fadeInDown
					a.thumbnail-minimal(href='images/gallery-original-1-1200x800.jpg' data-lightgallery='item')
						+jpg('gallery-item-1')
				.item-2.wow.fadeInLeft(data-wow-delay='.1s')
					a.thumbnail-minimal(href='images/gallery-original-2-1200x800.jpg' data-lightgallery='item')

						+jpg('gallery-item-2')
				.item-3.wow.fadeInRight(data-wow-delay='.2s')
					a.thumbnail-minimal(href='images/gallery-original-3-1200x800.jpg' data-lightgallery='item')
						+jpg('gallery-item-3')
				.item-4.wow.fadeInDown(data-wow-delay='.1s')
					a.thumbnail-minimal(href='images/gallery-original-4-1200x800.jpg' data-lightgallery='item')
						+jpg('gallery-item-4')
				.item-5.wow.fadeInUp(data-wow-delay='.2s')
					a.thumbnail-minimal(href='images/gallery-original-5-1200x800.jpg' data-lightgallery='item')
						+jpg('gallery-item-5')
				.item-6.wow.fadeInRight(data-wow-delay='.3s')
					a.thumbnail-minimal(href='images/gallery-original-6-1200x800.jpg' data-lightgallery='item')
						+jpg('gallery-item-6')
				.item-7.wow.fadeDown(data-wow-delay='.2s')
					a.thumbnail-minimal(href='images/gallery-original-7-1200x800.jpg' data-lightgallery='item')

						+jpg('gallery-item-7')
				.item-8.wow.fadeInRight(data-wow-delay='.3s')
					a.thumbnail-minimal(href='images/gallery-original-8-1200x800.jpg' data-lightgallery='item')
						+jpg('gallery-item-8')
				.item-9.wow.fadeInUp(data-wow-delay='.2s')
					a.thumbnail-minimal(href='images/gallery-original-9-1200x800.jpg' data-lightgallery='item')
						+jpg('gallery-item-9')
				.item-10.wow.fadeInUp(data-wow-delay='.1s')
					a.thumbnail-minimal(href='images/gallery-original-10-1200x800.jpg' data-lightgallery='item')
						+jpg('gallery-item-10')
			.gallery-content-wrap.wow.fadeInRight(data-wow-delay='.4s')
				.gallery-info
					h2
						span  welcome
						|  to our
						br
						|  fitness
						span  club
					p Profit is the fitness club that makes fitness totally accessible to everybody. We promise to help people from all walks of life achieve their individual health and fitness goals — no matter their shape, age, and experience.
