
section.section.main-section.media-overlay(data-type="anchor" style="background-image:url('images/background-1.jpg')")
	.container
		.row.justify-content-md-end.justify-content-sm-start
			.col-lg-4.col-sm-8.col-12.text-md-right
				h1.big.big-title.wow.fadeInRight
					span Best
					span Fitness
				p(data-wow-delay='.1s').wow.fadeInRight.offset-top-30 Our club encourages wellness by providing top-notch equipment, first-class instructors, innovative classes, and qualified staff.
				a.wow.fadeInRight.button.button-primary.button-md( href="#" data-custom-scroll-to="join-now" data-wow-delay='.2s') join now