section.section.cta-creative.media-overlay(style="background-image:url('images/background-3.jpg')")
	.container
		.row.row-30
			.col
				.col-xl-5.col-sm-10.col-12.col-md-8.wow.fadeInLeft
					h2.big.big-title
						| it's time
						br
						| for fitness
					p.offset-top-30 Experience the state-of-the-art fitness! Our studio offers qualified coaches, tailor-made workouts, and the best atmosphere.
					a(href="#" data-custom-scroll-to="join-now").button.button-primary.button-md Join now