section.section.section-lg#services(data-type="anchor")
	.container
		.row.row-50.justify-content-start
			.col-md-6.col-lg-3.col-12.wow.fadeIn(data-wow-delay='.1s')
				figure.service-box
					.square-figure
						span.icon.linearicons-medal-empty
					figcaption
						h5 Quality Service
						p At our fitness studio, you can experience the best level of customer service.
			.col-md-6.col-lg-3.col-12.wow.fadeIn(data-wow-delay='.2s')
				figure.service-box
					.square-figure
						span.icon.linearicons-dumbbell
					figcaption
						h5 Spacious gym
						p Our gym has enough place for all kinds of workouts and a wide variety of equipment.
			.col-md-6.col-lg-3.col-12.wow.fadeIn(data-wow-delay='.3s')
				figure.service-box
					.square-figure
						span.icon.linearicons-document
					figcaption
						h5 unique fitness programs
						p Our coaches have developed more than 50 fitness programs and workouts for you.
			.col-md-6.col-lg-3.col-12.wow.fadeIn(data-wow-delay='.4s')
				figure.service-box
					.square-figure
						span.icon.linearicons-users2
					figcaption
						h5 Group classes
						p If you prefer training with friends, then our group classes have what you need.