// RD Calendar
.rd-calendar.booking-calendar.booking-calendar-aside#chapters-select(data-events-inline='true')
  .rdc-panel
    button.rdc-prev
    .rdc-panel-center
      span.rdc-month
      =' '
      span.rdc-fullyear
    button.rdc-next
  .rdc-table
  .rdc-events
    a.rdc-events_close
    ul.list-unstyled
      +rdc-event({date: '10/16/2017'})
      +rdc-event({date: '11/22/2017'})
      +rdc-event({date: '12/07/2017'})
      +rdc-event({date: '01/31/2018'})
      +rdc-event({date: '02/13/2018'})
      +rdc-event({date: '03/20/2018'})
      +rdc-event({date: '04/24/2018'})
      +rdc-event({date: '05/08/2018'})
      +rdc-event({date: '06/14/2018'})
      +rdc-event({date: '07/11/2018'})
      +rdc-event({date: '08/20/2018'})
      +rdc-event({date: '09/05/2018'})
      +rdc-event({date: '10/31/2018'})
