extends  ../_skeleton

//- Includes
include ../elements/_ui-card

block variables
  - var activeIndex = 1
  - var pageName = 'Circles Counter'

block page
  // Page header
  include ../sections/_header-default

  section.section-xs.bg-default

  section.rd-parallax.bg-accent-2.text-center
    .rd-parallax-layer(data-speed='0.4', data-type='media', data-url='images/parallax-1.jpg')
    .rd-parallax-layer(data-speed='0', data-type='html')
      .section-lg.text-center
        .container
          .row.justify-content-sm-center.row-60
            .col-md-4.col-xl-3
              // Circle Progress Bar
              .progress-bar-circle(data-value="0.45", data-gradient="#cca776, #cca776", data-empty-fill="#fff", data-size="141", data-thickness="5")
                span
              .progress-bar-circle-title Pixel perfect typography
            .col-md-4.col-xl-3
              // Circle Progress Bar
              .progress-bar-circle(data-value="0.60", data-gradient="#cca776, #cca776", data-empty-fill="#fff", data-size="141", data-thickness="5")
                span
              .progress-bar-circle-title Power page builder
            .col-md-4.col-xl-3
              // Circle Progress Bar
              .progress-bar-circle(data-value="0.80", data-gradient="#cca776, #cca776", data-empty-fill="#fff", data-size="141", data-thickness="5")
                span
              .progress-bar-circle-title Made for community
  ='\n'

  section.section-lg.bg-default.text-center
    .container
      .row.justify-content-sm-center.row-60
        .col-md-4.col-xl-3
          // Circle Progress Bar
          .progress-bar-circle(data-value="0.45", data-gradient="#cca776, #cca776", data-empty-fill="#cca776", data-size="141", data-thickness="5")
            span
          .progress-bar-circle-title Pixel perfect typography
        .col-md-4.col-xl-3
          // Circle Progress Bar
          .progress-bar-circle(data-value="0.60", data-gradient="#cca776, #cca776", data-empty-fill="#cca776", data-size="141", data-thickness="5")
            span
          .progress-bar-circle-title Power page builder
        .col-md-4.col-xl-3
          // Circle Progress Bar
          .progress-bar-circle(data-value="0.80", data-gradient="#cca776, #cca776", data-empty-fill="#cca776", data-size="141", data-thickness="5")
            span
          .progress-bar-circle-title Made for community

  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

