extends  ../_skeleton

//- Includes

block variables
  - var activeIndex = 0
  - var pageName = 'Header default'

block page
  // Page header
  include ../sections/_header-default
    
  // Why Hiring Us is Always a Winning Move?
  section.rd-parallax.bg-accent-2.text-center
    .rd-parallax-layer(data-speed='0.4', data-type='media', data-url='images/parallax-1.jpg')
    .rd-parallax-layer(data-speed='0', data-type='html')
      .section-md.text-center
        .container
          .row.justify-content-md-center: .col-md-7.col-xl-6
            h3.heading-decorated Why Hiring Us is Always a Winning Move?
          .row.row-50.offset-top-1
            .col-md-6.col-xl-3
              // Blurb tiny
              article.blurb-tiny.blurb-tiny_centered
                .blurb-tiny__icon.linear-icon-library2
                h5.blurb-tiny__title Any Litigation
                p It's very hard to name a civil litigation field where our expertise is absent. Starting with Labor & Employment laws, insurance & personal injuries fields for helping the individuals and finishing with the real estate law, divorce and child custody laws, we have it all covered...

            .col-md-6.col-xl-3
              // Blurb tiny
              article.blurb-tiny.blurb-tiny_centered
                .blurb-tiny__icon.linear-icon-trophy2
                h5.blurb-tiny__title Winning Streak
                p Our track record is higher than that of the best MLB pitchers! We've got an amazing percentgae of won cases, with the mark standing now at over 99%... But these kinds of results were made possible only thanks to our due diligence, timely efforts and an incredible range of legal wit!

            .col-md-6.col-xl-3
              // Blurb tiny
              article.blurb-tiny.blurb-tiny_centered
                .blurb-tiny__icon.linear-icon-hourglass
                h5.blurb-tiny__title Timely Work
                p Working with a lot of civil litigation allows us to make some considerable timing shortcuts. That means that while we never compromise for an attention to case's details, we also never waste your time idly! Winning ahead of the schedule is our signature move!

            .col-md-6.col-xl-3
              // Blurb tiny
              article.blurb-tiny.blurb-tiny_centered
                .blurb-tiny__icon.linear-icon-thumbs-up
                h5.blurb-tiny__title Affordable Help
                p On par with such a client-friendly pace of work, we also have another uncompromised advantage - namely, our reasonable pricing! Keeping in mind that most of our clients are individuals and not businesses - we keep our fees low!
  ='\n'

  // Advantages
  section.section-lg.bg-default.text-center
    .container
      h3.heading-decorated Our Law Firm's Advantages:
      .row.row-50
        .col-md-6.col-lg-4
          // Blurb tiny
          article.blurb-tiny
            .blurb-tiny__icon.linear-icon-medal-empty
            h5.blurb-tiny__title Any Litigation
            p It's very hard to name an either civil or a commercial litigation field, in which we don't provide our services yet. Starting with Labor & Employment laws, insurance & personal injuries fields for helping the individuals and finishing with the real estate law, business arbitration & mergers and acquisitions for the commercial and business entities, we have it all covered... Our vast team of lawyers and paralegals will be glad to provide you with a top-notch service and uphold your interests either in court or by reaching a confidential settlement in your favor...

        .col-md-6.col-lg-4
          // Blurb tiny
          article.blurb-tiny
            .blurb-tiny__icon.linear-icon-balance
            h5.blurb-tiny__title 98% Cases Won
            p Our track record is higher than that of the best MLB pitchers! We've won or settled cases in clients favor a whopping percentage of times we've handled - over 98%... That required us to put a lot of effort, timely diligence and an incredible range of legal wit, but we did it! So regardless of you needing a civil or commercial litigation services, be sure that with our company in charge of your legal interests the chance to win are 98 out of 100! We've never been settling for a defeat in any of our cases, sometimes fighting all the way, up to the state's and country's Supreme Courts, winning there!

        .col-md-6.col-lg-4
          // Blurb tiny
          article.blurb-tiny
            .blurb-tiny__icon.linear-icon-thumbs-up
            h5.blurb-tiny__title Timely & Affordable
            p While we've already told you that we work with a whole multitude of civil and commercial litigation and win those cases literally all the time, there are two more advantages to hiring our law firm... Firstly, we never waste our clients time - either for redundant paperwork or for stockpiling their cases while doing hearings in the court. We have a vast team of lawyers and that resource always works to get your interests upheld and your case won in an as fast manner as only legally possible. Also, we're proud to be one of the most affordable law firms both in Houston and in the state of Texas overall!
  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

