extends  ../_skeleton

//- Includes

block variables
  - var activeIndex = 0
  - var pageName = 'Header minimal'

block page 
  // Page header
  include ../sections/_header-minimal

  include ../sections/_section-cta-1

  // Some Of Our Clients
  section.section-md.bg-gray-lighter.text-center
    .container
      h3.heading-decorated Some Of Our Clients
      // Owl Carousel
      .owl-carousel.owl-carousel_centered.text-center(data-autoplay='true', data-items='1', data-sm-items='2', data-md-items='4', data-lg-items='5', data-xl-items='6', data-stage-padding='15', data-loop='true', data-margin='30', data-mouse-drag="false", data-dots='true')
        .item: a.link-transparent(href='#'): +png('brand-1-128x111')
        .item: a.link-transparent(href='#'): +png('brand-2-129x102')
        .item: a.link-transparent(href='#'): +png('brand-3-143x110')
        .item: a.link-transparent(href='#'): +png('brand-4-129x86')
        .item: a.link-transparent(href='#'): +png('brand-5-142x102')
        .item: a.link-transparent(href='#'): +png('brand-6-134x122')
  ='\n'

  // Page Footer
  include ../sections/_footer-corporate

