extends  ../_skeleton

//- Includes

block variables
  - var activeIndex = 1
  - var pageName = 'Testimonials'

block page
  // Page header
  include ../sections/_header-default

  // Quotes
  section.section-lg.bg-default
    .container
      .row.row-50
        .col-md-6.col-lg-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-1-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q As the one who recently suffered from the FELA (Federal Employers’ Liability Act Claims) related issues, I’ve been desperate to find a firm who could have won my case… Then I found these guys! Finally, 3 months later the truth and the law prevailed, all thanks to this firm’s lawyers diligence!
            p.quote-default__cite Daniela Williams

        .col-md-6.col-lg-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-2-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q Business litigation has always been what our competitors were using to suppress us… But as soon as we’ve hired this law firm, which by the way had fees 5 times lower than the one our competitors paid to their lawyers, we finally had all the disputes resolved in our favor!
            p.quote-default__cite Gary Growles

        .col-md-6.col-lg-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-3-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q Some time ago our company has gone through a very harsh merger & acquisition process, which left us felt questioning our business partners. But thanks to this law firm, we were finally able to resolve our situation and take our company back!
            p.quote-default__cite Walter Cronkate
  ='\n'

  +divider

  // Quotes
  section.section-lg.bg-default
    .container
      .row.row-50
        .col-md-6
          // Quote default
          .quote-default.quote-default_left
            .quote-default__image
              +jpg('testimonials-1-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q As the one who recently suffered from the FELA (Federal Employers’ Liability Act Claims) related issues, I’ve been desperate to find a firm who could have won my case… Then I found these guys! Finally, 3 months later the truth and the law prevailed, all thanks to this firm’s lawyers diligence!
            p.quote-default__cite Daniela Williams

        .col-md-6
          // Quote default
          .quote-default.quote-default_left
            .quote-default__image
              +jpg('testimonials-2-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q Business litigation has always been what our competitors were using to suppress us… But as soon as we’ve hired this law firm, which by the way had fees 5 times lower than the one our competitors paid to their lawyers, we finally had all the disputes resolved in our favor!
            p.quote-default__cite Gary Growles
  ='\n'

  +divider

  // Quotes
  section.section-lg.bg-default
    .container
      .row.row-50
        .col-md-6.col-lg-4
          // Quote bordered
          .quote-bordered
            .quote-bordered__image
              +jpg('testimonials-1-120x120')
            +quote-mark('quote-bordered__mark')
            .quote-bordered__text: p.q As the one who recently suffered from the FELA (Federal Employers’ Liability Act Claims) related issues, I’ve been desperate to find a firm who could have won my case… Then I found these guys! Finally, 3 months later the truth and the law prevailed, all thanks to this firm’s lawyers diligence!
            .quote-bordered__caption
              p.quote-bordered__cite Daniela Williams
              p.quote-bordered__small New York

        .col-md-6.col-lg-4
          // Quote bordered
          .quote-bordered
            .quote-bordered__image
              +jpg('testimonials-2-120x120')
            +quote-mark('quote-bordered__mark')
            .quote-bordered__text: p.q Business litigation has always been what our competitors were using to suppress us… But as soon as we’ve hired this law firm, which by the way had fees 5 times lower than the one our competitors paid to their lawyers, we finally had all the disputes resolved in our favor!
            .quote-bordered__caption
              p.quote-bordered__cite Gary Growles

        .col-md-6.col-lg-4
          // Quote bordered
          .quote-bordered
            .quote-bordered__image
              +jpg('testimonials-3-120x120')
            +quote-mark('quote-bordered__mark')
            .quote-bordered__text: p.q Some time ago our company has gone through a very harsh merger & acquisition process, which left us felt questioning our business partners. But thanks to this law firm, we were finally able to resolve our situation and take our company back!
            .quote-bordered__caption
              p.quote-bordered__cite Walter Cronkate
  ='\n'

  +divider

  // Page Footer
  include ../sections/_footer-corporate

