extends  ../_skeleton

block variables
	- pageName = 'Buttons'

block page
	// Page header
	include ../sections/_header-default
	='\n'
	
	+breadcrumbs
	='\n'
	
	// Buttons
	section.section.novi-bg.novi-bg-img.section-xl.bg-default.text-center
		.container
			.group-lg
				button.button-super See Features
				.button.button-primary See Features
				.button.button-black Order Now
				.button.button-gray-light-outline Order Now
				.button-link read more
	='\n'
	
	// Page Footer
	include ../sections/_footer-corporate
