-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900",
		logo = {
			default: 'logo-default-324x88.png',
			name: 'Crypto'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#b6c062'
		},
		menu = [
			{
			title: 'Pages',
			link: '#',
				dropdown: [
					{ title: 'Blog' },
					{ title: 'Blog Post' },
					{ title: 'Login' },
					{ title: 'Register' },
					{ title: '404' },
					{ title: 'Privacy Policy' },
					{ title: 'Search Results' }
				]
			},
			{
				title: 'Token sale',
				link: '#token-sale'
			},
			{
				title: 'Roadmap',
				link: '#roadmap'
			},
			{
				title: 'Get the app',
				link: '#get-the-app'
			},
			{
				title: 'Faq',
				link: '#faq'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		],
		menu2 = [
			{
				title: 'Home',
				link: './',
				dropdown: [
					{
						title: 'Landing Default',
						link: './'
					},
					{
						title: 'Landing 2',
						link: 'index-2.html'
					}
				]
			},
			{
				title: 'Pages',
				link: '#',
				dropdown: [
					{ title: 'Privacy Policy' },
					{ title: 'Search Results' }
				]
			},
			{ title: 'Blog' },
			{ title: 'Blog Post' },
			{ title: 'Login' },
			{ title: 'Register' },
			{ title: '404' }
		],
		menu3 = [
			{
				title: 'Pages',
				link: '#',
				dropdown: [
					{ title: 'Blog' },
					{ title: 'Blog Post' },
					{ title: 'Login' },
					{ title: 'Register' },
					{ title: '404' },
					{ title: 'Privacy Policy' },
					{ title: 'Search Results' }
				]
			},
			{
				title: 'Token sale',
				link: '#token-sale'
			},
			{
				title: 'User center',
				link: '#user-center'
			},
			{
				title: 'Roadmap',
				link: '#roadmap'
			},
			{
				title: 'Faq',
				link: '#faq'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
