// Call to Action
section.section.section-sm.context-dark.bg-gray-dark.section-cta
  .container
    .row.row-50.align-items-center.justify-content-center.justify-content-xl-between
      .col-xl-8.text-xl-left
        h4
          span.font-weight-bold Quart 
          span.font-weight-normal is a flexible solution with lots of advantages
        p Our template offers you  a variety of elements to be combined.
      .col-xl-2.text-xl-right
        a(target='_blank' href=buyHref).button.button-primary Get it now
