// Call to Action
section.section-md.bg-accent.bg-image.text-center.bg-overlay-darkest(style='background-image: url(images/bg-image-8.jpg); background-position: center 10%;')
  .container
    .row.justify-content-md-center
      .col-md-11.col-lg-9.col-xl-8 
        h3.heading-decorated Haven’t Found What You Like? Browse Our Other Demos

        a.button.button-primary(href='contacts.html') Contact Us
='\n'