// pagination classic
//--------------------------------------------------------
.pagination-classic {
  margin: -7px 0 0 -7px;
  li {
    display: inline-block;
    margin-top: 7px;
    a,
    span{
      display: inline-block;
      width: 44px;
      height: 44px;
      margin-left: 7px;
      padding: 0;
      font-size: 13px;
      line-height: 44px;
      font-weight: 400;
      font-family: $font-family-base;
      background-color: $white;
      border: none;
      color: $gray;
      text-align: center;
      transition: .4s;
      border-radius: 50%;

      &.icon {
        width: auto;
        height: auto;
        line-height: 1;
        margin-left: 5px;
        border-radius: 0;
        font-size: 16px;
        font-weight: 600;
        &, &:focus, &:active {
          color: $gray-dark;
          background-color: transparent;  
        }
        &:before {
          content: '';
          display: none;
        }
        &:after {
          display: inline-block;
          padding-left: 5px;
          font-size: 14px;
          content: '\e93c';
          vertical-align: middle;
          color: $primary;
          font-family: 'Linearicons';
        }

        &:hover {
          color: $primary;
          background-color: transparent;
        }
      }
    }

    &.active a,
    &.active a:hover,
    a:focus,
    a:hover {
      color: $white;
      background-color: $gray-dark; 
    }
    &.active span,
    &.active span:hover{
      color: $white;
      background-color: $gray-dark;
    }

    &.disabled a,
    &.disabled a:hover,
    &.disabled span,
    &.disabled span:hover{
      background-color: transparent;
      border-color: $gray-1;
    }
    
  }
}

* + .pagination-wrap {
  margin-top: 30px;
  @include media-breakpoint-up(lg) {
    margin-top: 50px;
  }
}
