// Post quote
article.post-quote.post-classic
	// Quote default
	a(href=postQuote).quote-default
		+quote-mark('quote-default__mark')
		.quote-default__text: p.q.heading-4 The success of your business depends solely on you. We can give any assistance you need to reach new heights.
		p.quote-default__cite Adam Smith