//Single Post Body
.single-post-body
	p Stark differences include one presidential candidate who seeks to raise income taxes on the wealthiest Americans while the other would cut them across the board. Although much of the presidential campaign's focus has been on the differences in personality and temperament between Democratic presidential nominee Hillary Clinton and Republican nominee Donald Trump, there also is a stark divide on tax policy.
	p Last week, each of the candidates laid out their economic plans, including tax changes.
	p Here are some of the highlights.
	p Clinton's individual income taxing plan: Would impose a 4% “fair share surcharge” on Americans making more than $5 million annually. Would implement the “Buffett rule,” imposing a minimum 30% effective tax rate on Americans making more than $1 million annually. 

//Image
+jpg('post-standart-02-1354x560')

//Single Post Body
.single-post-body
	p Trump's individual income taxing plan: 
		br
		| Would reduce the current seven tax brackets to three: 12%, 25% and 33%.
	p Capital Gains And Investment Taxes:
	p Clinton: Last year, Ms. Clinton proposed higher capital gains rates on shorter-term investments.
	p Trump: Did not mention investment taxes.

	.post-meta
		.group
			a.post-meta__comment(href=postImage) 3 comment(s)
			a(href=postImage) Theme
			+tag-list({
				list_class: 'list-inline-tag',
				href: postImage,
				items: [
					"Style",
					'Clean']
			})

	.post-classic-footer
		ul.list-inline.list-inline-lg
			li: a.icon.icon-sm.icon-secondary.icon-secondary-divider.fa.fa-facebook(href='#')
			li: a.icon.icon-sm.icon-secondary.icon-secondary-divider.fa.fa-twitter(href='#')
			li: a.icon.icon-sm.icon-secondary.icon-secondary-divider.fa.fa-google-plus(href='#')