include ../components/progress-circle

section.section.novi-bg.novi-bg-img.section-xl.bg-image.text-center.context-dark( style='background-image:url(images/background-03.jpg)' )
	.container
		.row.justify-content-xs-center.row-60
			.col-xs-6.col-md-4.col-xl-3
				+progress-circle({
					title: 'Reliability',
					value: 45
				})
			.col-xs-6.col-md-4.col-xl-3
				+progress-circle({
					title: 'Experience',
					value: 60
				})
			.col-xs-6.col-md-4.col-xl-3
				+progress-circle({
					title: 'Professionalism',
					value: 80
				})
='\n'
