footer.section.footer.text-center
	.container
		.footer-divider
		.footer-inner
			.row.row-20.align-items-center.justify-content-between
				.col-md-auto
					+rights
				.col-md-auto
					.list-social
						a.list-social-icon.mdi.mdi-facebook( href='#' )
						a.list-social-icon.mdi.mdi-twitter( href='#' )
						a.list-social-icon.mdi.mdi-instagram( href='#' )
						a.list-social-icon.mdi.mdi-youtube-play( href='#' )
						a.list-social-icon.mdi.mdi-pinterest( href='#' )
