section.section.novi-bg.novi-bg-img.text-start.section-xxl.fullwidth-page.fullwidth-page_mod-1.bg-image-2
	.container
		.row.row-fix.row-50.justify-content-center.justify-content-xl-between
			.col-md-10.col-lg-6.col-xl-5
				h1 Monstroid²
				p Monstroid² boasts clean and crispy design, bulletproof layout consistence and intuitive navigation.
				.group-lg.group-middle
					a.button.button-black(href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
					a.button.button-primary(href=getTemplateLink target='_blank') Buy template
			
			.col-md-10.col-lg-6
				.ratio.ratio-16x9
					iframe.ratio-item(width="560" height="315" src="https://www.youtube.com/embed/hhF-oZbI0lk" )

='\n'
