section.section.text-center
	.row.row-fix.g-0
		.col-lg-6.novi-bg.novi-bg-img.cat-wrap.bg-accent
			.cat-mod-1
				h3 Great for Any Device
				p This template is fully responsive and Retina-ready, which means its ability to be displayed on any modern gadgets, from computers and laptops to smartphones and tablets. It is also perfectly optimized for high-resolution displays and other devices.
				a(href='#').button.button-gray-light-outline Read more
		
		.col-lg-6.novi-bg.novi-bg-img.bg-image.bg-image-3.cat-wrap
			.cat-mod-1
				h3 100% Satisfaction Guaranteed
				p You will be completely happy with our products and services. If not, we are ready to offer 100% money back during 30 days from the purchase date. No questions asked.
				a(href='#').button.button-primary Read more
='\n'
