+parallax({
	img: "slider-slide-5-1920x1080.jpg"
}).text-center.context-dark
	.section-xxl.fullwidth-page.fullwidth-page_mod-1.text-center
		.container
			h2 Built by geeks
			h5.text-width-2.block-centered Monstroid#[sup 2] aims to satisfy real needs of real projects. We've got a pack of tools for that.
			.group-lg.group-middle
				a.button.button-black(href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
				a.button.button-primary(href=getTemplateLink target='_blank') Buy template
='\n'
