extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs

block variables
  - var activeIndex = 4
  - var pageName = 'Testimonials'

block page
  // Page header
  include ../sections/_header-default

  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })

  // Quotes
  section.section-lg.bg-default.section
    .container
      // Owl Carousel
      .owl-carousel.owl-carousel-dots(data-autoplay='true',data-items='1', data-stage-padding='15', data-loop='true', data-margin='30', data-dots='true')
        .item
          // Quote default
          .quote-default
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Amanda Smith

        .item
          // Quote default
          .quote-default
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q The customer service is fantastic! Templates are affordable, they give Flash and HTML, that are easy to use and they have wide selection of templates!
            p.quote-default__cite James Wilson

        .item
          // Quote default
          .quote-default
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Amanda Smith
  ='\n'

  +divider

  // Quotes
  section.section-lg.bg-default.section
    .container
      // Owl Carousel
      .owl-carousel-nav-style-1.owl-carousel-nav-top.owl-carousel.owl-carousel-nav-center(data-autoplay='true',data-items='1', data-stage-padding='15', data-loop='true', data-margin='30', data-nav='true')
        .item
          // Quote default
          .quote-default
            .quote-default__image
              +jpg('testimonials-1-120x120', 'center-block')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Amanda Smith

        .item
          // Quote default
          .quote-default
            .quote-default__image
              +jpg('testimonials-2-120x120', 'center-block')
            .quote-default__text: p.q The customer service is fantastic! Templates are affordable, they give Flash and HTML, that are easy to use and they have wide selection of templates!
            p.quote-default__cite James Wilson

        .item
          // Quote default
          .quote-default
            .quote-default__image
              +jpg('testimonials-3-120x120', 'center-block')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Adam Dou
  ='\n'

  +divider

  // Quotes
  section.section-lg.bg-default.section
    .container
      .row.row-50
        .col-md-6.col-lg-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-1-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Amanda Smith

        .col-md-6.col-lg-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-2-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q The customer service is fantastic! Templates are affordable, they give Flash and HTML, that are easy to use and they have wide selection of templates!
            p.quote-default__cite James Wilson

        .col-md-6.col-lg-4
          // Quote default
          .quote-default.quote-default_left-v2
            .quote-default__image
              +jpg('testimonials-3-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Adam Dou
  ='\n'

  +divider

  // Quotes
  section.section-lg.bg-default.section
    .container
      .row.row-50
        .col-md-6
          // Quote default
          .quote-default.quote-default_left
            .quote-default__image
              +jpg('testimonials-1-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            p.quote-default__cite Amanda Smith

        .col-md-6
          // Quote default
          .quote-default.quote-default_left
            .quote-default__image
              +jpg('testimonials-2-120x120')
            +quote-mark('quote-default__mark')
            .quote-default__text: p.q The customer service is fantastic! Templates are affordable, they give Flash and HTML, that are easy to use and they have wide selection of templates!
            p.quote-default__cite James Wilson
  ='\n'

  +divider

  // Quotes
  section.section-lg.bg-default.section
    .container
      .row.row-50
        .col-md-6.col-lg-4
          // Quote bordered
          .quote-bordered
            +quote-mark('quote-bordered__mark')
            .quote-bordered__image
              +jpg('testimonials-1-120x120')
            .quote-bordered__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            .quote-bordered__caption
              p.quote-bordered__cite Amanda Smith
              p.quote-bordered__small Designer

        .col-md-6.col-lg-4
          // Quote bordered
          .quote-bordered
            +quote-mark('quote-bordered__mark')
            .quote-bordered__image
              +jpg('testimonials-2-120x120')
            .quote-bordered__text: p.q The customer service is fantastic! Templates are affordable, they give Flash and HTML, that are easy to use and they have wide selection of templates!
            .quote-bordered__caption
              p.quote-bordered__cite James Wilson
              p.quote-bordered__small Designer

        .col-md-6.col-lg-4
          // Quote bordered
          .quote-bordered
            +quote-mark('quote-bordered__mark')
            .quote-bordered__image
              +jpg('testimonials-3-120x120')
            .quote-bordered__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!
            .quote-bordered__caption
              p.quote-bordered__cite Adam Dou
              p.quote-bordered__small Designer
  ='\n'

  +divider

  // Quotes
  section.section-lg.bg-default.section
    .container
      .row.row-50
        .col-md-6.col-lg-4
          // Quote classic
          .quote-classic
            .quote-classic__main
              +quote-mark('quote-classic__mark')
              .quote-classic__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!

            .quote-classic__caption
              .quote-classic__image.quote-classic__caption-aside
                +jpg('testimonials-1-120x120')
              .quote-classic__caption-main
                p.quote-classic__cite Amanda Smith
                p.quote-classic__small Designer

        .col-md-6.col-lg-4
          // Quote classic
          .quote-classic
            .quote-classic__main
              +quote-mark('quote-classic__mark')
              .quote-classic__text: p.q The customer service is fantastic! Templates are affordable, they give Flash and HTML, that are easy to use and they have wide selection of templates!

            .quote-classic__caption
              .quote-classic__image.quote-classic__caption-aside
                +jpg('testimonials-2-120x120')
              .quote-classic__caption-main
                p.quote-classic__cite James Wilson
                p.quote-classic__small Designer

        .col-md-6.col-lg-4
          // Quote classic
          .quote-classic
            .quote-classic__main
              +quote-mark('quote-classic__mark')
              .quote-classic__text: p.q It’s great that there are such templates that are available to both professional and beginner web developers at affordable price. The job you did with this template is surely appreciated!

            .quote-classic__caption
              .quote-classic__image.quote-classic__caption-aside
                +jpg('testimonials-3-120x120')
              .quote-classic__caption-main
                p.quote-classic__cite Adam Dou
                p.quote-classic__small Designer
  ='\n'

  // Page Footer
  include ../sections/_footer-minimal

