extends  ../_skeleton

//- Includes
include ../elements/_ui-breadcrumbs
include ../elements/_ui-rd-parallax

block variables
  - var activeIndex = 1
  - var pageName = '404 page'

block page
  // Page header
  include ../sections/_header-sidebar-inverse

  section.text-center
    +parallax({
        "backgroundSpeed": "0.35",
        "attrType": "media",
        "src": "images/parallax-09.jpg",
        "htmlSpeed": "0.1",
        "class": 'parallax-header rd-parallax-light'
    })
      .parallax-header__inner: .parallax-header__content
        .container
          .row.justify-content-sm-center
            .col-md-10.col-xl-8
              h2 Page Not Found
              p Map where your photos were taken and discover local points of interest. #[br]There’s also a flip-out.
              a(href='index.html').button.button-gray-light-outline Go back

  // Page Footer
  include ../sections/_footer-minimal
    